<div class="modal-body">
    <div class="alert alert-danger text-center" ng-show="mensajeError">
        <strong>{{mensajeError}}</strong>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <input type="text" class="form-control" id="iptNombre" placeholder="@L("directiva_bowBuscadorEmpleado_filtrarPorNombre")"
                           name="iptNombre" ng-model="buscarPor.nombre" maxlength="50" /><br />
                </div>
                <div class="col-md-12">
                    <input type="text" class="form-control" id="iptPrimerApellido" placeholder="@L("directiva_bowBuscadorEmpleado_filtrarPorApellido1")"
                           name="iptPrimerApellido" ng-model="buscarPor.apellido1" maxlength="50" /><br />
                </div>
                <div class="col-md-12">
                    <input type="text" class="form-control" id="iptSegundoApellido" placeholder="@L("directiva_bowBuscadorEmpleado_filtrarPorApellido2")"
                           name="iptSegundoApellido" ng-model="buscarPor.apellido2" maxlength="50" /><br />
                </div>
                <div class="col-md-12">
                    <input type="text" class="form-control" id="iptDocumento" placeholder="@L("directiva_bowBuscadorEmpleado_filtrarPorDocumento")"
                           name="iptDocumento" ng-model="buscarPor.documento" maxlength="50" /><br />
                </div>
                <div class="col-md-12">
                    <input type="text" class="form-control" id="iptCorreo" placeholder="@L("directiva_bowBuscadorEmpleado_filtrarPorCorreo")"
                           name="iptCorreo" ng-model="buscarPor.correoElectronico" maxlength="50" />
                </div>
                <div class="col-md-12">
                    <bow-buscarsucursal ng-model="selectedSucursal" titulolabel="" tituloplaceholder="@L("directiva_bowBuscadorEmpleado_filtrarPorSucursal")" bow-seleccionosucursal="seleccionoSucursal(sucursal)"></bow-buscarsucursal><br />
                </div>
                <div class="col-md-12">
                    <select ng-model="estado" ng-options="to as to.nombre for to in estados" class="form-control" name="selectEstados">
                        <option value="">@L("directiva_bowBuscadorEmpleado_seleccione")</option>
                    </select><br />
                </div>
                <div class="col-md-12">
                    <button class="btn btn-success btn-block" ng-click="consultarEmpleados()">@L("directiva_bowBuscadorEmpleado_btnConsultar")</button><br />
                </div>
                <div class="col-md-12">
                    <button class="btn btn-info btn-block" ng-click="limpiarBuscador()">@L("directiva_bowBuscadorEmpleado_btnLimpiar")</button>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="col-md-12">
                <div ng-show="resultadoBusqueda.totalFilas > 0 ">
                    <div class="col-md-12 text-center">
                        {{resultadoBusqueda.totalFilas}} @L("directiva_bowBuscadorEmpleado_empleadosEncontrados")
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="col-md-6">
                            @L("directiva_bowBuscadorEmpleado_resultadoCodigo")
                        </div>
                        <div class="col-md-6">
                            @L("directiva_bowBuscadorEmpleado_resultadoNombreCompleto")
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <div ng-repeat="empleado in resultadoBusqueda.filasMostrar track by $index">
                            <bow-resultadoempleado ng-model="empleado" bow-seleccionoempleado="seleccionoEmpleado(empleadoSeleccion)"></bow-resultadoempleado>
                        </div>
                        <div class="text-center">
                            <pagination items-per-page="resultadoBusqueda.filasPorPagina"
                                        total-items="resultadoBusqueda.totalFilas"
                                        ng-model="resultadoBusqueda.paginaActual"
                                        ng-change="resultadoBusqueda.pageChanged()"
                                        class="pagination-sm"></pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

