<div class="row">
    <div class="col-md-12">
        <div class="checkbox c-checkbox needsclick">
            <label class="needsclick">
                <input class="needsclick" type="checkbox" ng-model="nomenclatura" />
                <span class="fa fa-check"></span>
                ¿Manzana con Nomenclatura?
            </label>
        </div>
    </div>
</div>
<div class="row" ng-if="!nomenclatura" ng-form="frmSinNomenclatura">
    <input id="frmSinNomenclaturaOculto" ng-model="oculto.frmSinNomenclaturaOculto" ng-init="oculto.frmSinNomenclaturaOculto=frmSinNomenclatura" hidden>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12" ng-form="frmSinNomenclatura">
                <div class="form-group" ng-class="{'has-error' : frmSinNomenclatura.iptNombre.$dirty && frmSinNomenclatura.iptNombre.$invalid}">
                    <label class="control-label" for="iptNombre">@L("zonificacion_manzana_sinNomenclatura_nombre")</label>
                    <input type="text" class="form-control" id="iptNombre" name="iptNombre" placeholder="@L("zonificacion_manzana_sinNomenclatura_nombre")" ng-model="manzanaSaveSinNomenclatura.nombre" required maxlength="60" />
                    <div ng-show="frmSinNomenclatura.iptNombre.$dirty && frmSinNomenclatura.iptNombre.$invalid">
                        <small ng-show="frmSinNomenclatura.iptNombre.$error.required" class="text-danger">
                            @L("zonificacion_manzana_sinNomenclatura_nombreRequerido")
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <button class="btn btn-success btn-circle btn-lg" ng-click="saveManzana()" ng-disabled="frmSinNomenclatura.$invalid" title='@L("zonificacion_parametrosLocalidad_barrio_asignar")'>
                        <em class="fa fa-save"></em>
                    </button>
                    &nbsp;
                    <button class="btn btn-warning btn-circle btn-lg" ng-click="cancelarIngresoManzana()" title='@L("zonificacion_parametrosLocalidad_barrio_cancelar_editar")'>
                        <em class="fa fa-times"></em>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-if="nomenclatura" ng-form="frmConNomenclatura">
    <input id="frmConNomenclaturaOculto" ng-model="oculto.frmConNomenclaturaOculto" ng-init="oculto.frmConNomenclaturaOculto=frmConNomenclatura" hidden>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" ng-class="{'has-error' : frmConNomenclatura.iptTorieLocalidad1.$dirty && frmConNomenclatura.iptTorieLocalidad1.$invalid}">
                    <label class="control-label" for="iptTorieLocalidad1">@L("zonificacion_manzana_conNomenclatura_viaPrincipal")</label>
                    <select ng-model="manzanaSaveConNomenclatura.torieLocalidad1" ng-options="to.id as to.nombreTipoOrientacion for to in toriesLocalidad1" ng-change="viaPrincipalChange()" class="form-control" required id="iptTorieLocalidad1" name="iptTorieLocalidad1">
                        <option value="">@L("zonificacion_manzana_conNomenclatura_seleccione")</option>
                    </select>
                </div>
            </div>
            <div ng-show="!mostrarAvenidaPrincipal">
                <div class="col-md-4">
                    <div class="form-group" ng-class="{'has-error' : frmConNomenclatura.iptNumero1.$dirty && frmConNomenclatura.iptNumero1.$invalid}">
                        <label class="control-label" for="iptNumero1">@L("zonificacion_manzana_conNomenclatura_numero")</label>
                        <input type="text" ng-pattern="/^[0-9]+$/" class="form-control" id="iptNumero1" name="iptNumero1" placeholder="@L("zonificacion_manzana_conNomenclatura_numero")" ng-model="manzanaSaveConNomenclatura.orientacion1" required maxlength="5" />
                        <small ng-show="frmConNomenclatura.iptNumero1.$error.pattern" class="text-danger">
                            @L("zonificacion_manzana_numero1ConNomenclaturaNumerico")
                        </small>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <label class="control-label" for="iptSufijo1">@L("zonificacion_manzana_conNomenclatura_sufijo")</label>
                    <select ng-model="manzanaSaveConNomenclatura.sufijo1" ng-options="to.id as to.nombreSufijo for to in sufijosLocalidad1 " class="form-control" required>
                        <option value="">@L("zonificacion_manzana_conNomenclatura_seleccione")</option>
                    </select>
                </div>
            </div>
            <div ng-show="mostrarAvenidaPrincipal">
                <div class="col-md-8 text-center">
                    <label class="control-label" for="iptAvenida1">@L("zonificacion_manzana_conNomenclatura_avenida")</label>
                    <select ng-model="manzanaSaveConNomenclatura.avenida1Id" ng-options="to.id as to.nombre for to in avenidasLocalidad " class="form-control" required>
                        <option value="">@L("zonificacion_manzana_conNomenclatura_seleccione")</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" ng-class="{'has-error' : frmConNomenclatura.iptTorieLocalidad2.$dirty && frmConNomenclatura.iptTorieLocalidad2.$invalid}">
                    <label class="control-label" for="iptTorieLocalidad2">@L("zonificacion_manzana_conNomenclatura_viaSecundaria")</label>
                    <select ng-model="manzanaSaveConNomenclatura.torieLocalidad2" ng-options="to.id as to.nombreTipoOrientacion for to in toriesLocalidad2" ng-change="viaSecundariaChange()" class="form-control" required id="iptTorieLocalidad2" name="iptTorieLocalidad2">
                        <option value="">@L("zonificacion_manzana_conNomenclatura_seleccione")</option>
                    </select>
                </div>
            </div>
            <div ng-show="!mostrarAvenidaSecundaria">
                <div class="col-md-4 text-center">
                    <div class="form-group" ng-class="{'has-error' : frmConNomenclatura.iptNumero2.$dirty && frmConNomenclatura.iptNumero2.$invalid}">
                        <label class="control-label" for="iptNumero2">@L("zonificacion_manzana_conNomenclatura_numero")</label>
                        <input ng-pattern="/^[0-9]+$/" type="text" class="form-control" id="iptNumero2" name="iptNumero2" placeholder="@L("zonificacion_manzana_conNomenclatura_numero")" ng-model="manzanaSaveConNomenclatura.orientacion2" required maxlength="5" />
                        <small ng-show="frmConNomenclatura.iptNumero2.$error.pattern" class="text-danger">
                            @L("zonificacion_manzana_numero2ConNomenclaturaNumerico")
                        </small>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <label class="control-label" for="iptSufijo2">@L("zonificacion_manzana_conNomenclatura_sufijo")</label>
                    <select ng-model="manzanaSaveConNomenclatura.sufijo2" ng-options="to.id as to.nombreSufijo for to in sufijosLocalidad1 " class="form-control" required>
                        <option value="">@L("zonificacion_manzana_conNomenclatura_seleccione")</option>
                    </select>
                </div>
            </div>
            <div ng-show="mostrarAvenidaSecundaria">
                <div class="col-md-8 text-center">
                    <label class="control-label" for="iptAvenida1">@L("zonificacion_manzana_conNomenclatura_avenida")</label>
                    <select ng-model="manzanaSaveConNomenclatura.avenida2Id" ng-options="to.id as to.nombre for to in avenidasLocalidad " class="form-control" required>
                        <option value="">@L("zonificacion_manzana_conNomenclatura_seleccione")</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <button class="btn btn-success btn-circle btn-lg" ng-click="saveManzana()" title='@L("zonificacion_parametrosLocalidad_barrio_asignar")'>
                        <em class="fa fa-save"></em>
                    </button>
                    &nbsp;
                    <button class="btn btn-warning btn-circle btn-lg" ng-click="cancelarIngresoManzana()" title='@L("zonificacion_parametrosLocalidad_barrio_cancelar_editar")'>
                        <em class="fa fa-times"></em>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



