<div class="modal-header">
    <h2>@L("zonificacion_modalNuevoDepartamento_titulo")</h2>
</div>
<div class="modal-body">
    <div class="alert alert-danger text-center" ng-show="mensajeError">
        <strong>{{mensajeError}}</strong>
    </div>
    <form role="form" name="modalDepto">
        <div class="form-group" ng-class="{'has-error' : modalDepto.iptNombreDepto.$dirty && modalDepto.iptNombreDepto.$invalid}">
            <label class="control-label" for="iptNombreDepto">@L("zonificacion_modalNuevoDepto_nombre")</label>
            <input type="text" class="form-control" id="iptNombreDepto" name="iptNombreDepto" placeholder="@L("zonificacion_modalNuevoDepto_nombre")" ng-model="nuevoPais.nombre" required maxlength="25" />
            <div ng-show="modalDepto.iptNombreDepto.$dirty && modalDepto.iptNombreDepto.$invalid">
                <small ng-show="modalDepto.iptNombreDepto.$error.required" class="text-danger">
                    @L("zonificacion_modalNuevoDepto_nombreRequerido")
                </small>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : modalDepto.iptIndicativoDepto.$dirty && modalDepto.iptIndicativoDepto.$invalid}">
            <label class="control-label" for="iptIndicativoDepto">@L("zonificacion_modalNuevoDepartamento_lbIndicativoDepto")</label>
            <input type="text" class="form-control" id="iptIndicativoDepto" name="iptIndicativoDepto" placeholder=@L("zonificacion_modalNuevoDepartamento_lbIndicativoDepto") ng-model="nuevoPais.indicativo" required maxlength="4" />
            <div ng-show="modalDepto.iptIndicativoDepto.$dirty && modalDepto.iptIndicativoDepto.$invalid">
                <small ng-show="modalDepto.iptIndicativoDepto.$error.required" class="text-danger">
                    @L("zonificacion_modalNuevoDepartamento_indicativoDepto_requerido")
                </small>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="okModal()" ng-disabled="modalPais.$invalid">@L("zonificacion_modalpais_btGuardar")</button>
    <button class="btn btn-danger" ng-click="cancelModal()">@L("zonificacion_modalpais_btCancelar")</button>
</div>