<div class="row">
    <button type="button" class="mr btn btn-pill-right btn-success" ng-click="nuevoDireccion = !nuevoDireccion" ng-disabled="soloLecturaConsultar"> @L("personas_nuevapersona_modalNuevaPersona_btnNuevoDireccion")</button>
    <div class="col-md-12 bow-margin-top-20" ng-show="nuevoDireccion">
        <bow-direccion registro-direccion="direccionRegistrada(direccion)"></bow-direccion>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th colspan="2" class="bow-margin-bottom-5 bow-padding-bottom-5 text-right">
                            </th>
                            <th class="text-center" width="20%">
                                <label class="switch switch-lg" ng-class="'switch-' + app.theme.name" data-toggle="popover" data-placement="top" title="Ver direcciones activas">
                                    <input type="checkbox" checked="checked" ng-model="estadoActivoDireccion" ng-click="mostrarFilasDireccion(estadoActivoDireccion)">
                                    <span></span>
                                </label>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="direccion in direccionesPersona" ng-show="(estadoActivoDireccion === direccionesPersona[$index].nombreEstado) || !estadoActivoDireccion">
                            <td>
                                <h4 class="media-heading" width="40%">
                                    {{direccion.direccionCompleta}}
                                </h4>
                                <span class="text-muted">
                                    {{direccion.nombreLocalidad}} <em class="fa fa-caret-right"></em> {{direccion.fechaIngreso}}
                                </span>
                            </td>
                            <td class="text-center" width="40%">
                                <select ng-model="direccion.tipoUbicacionId" ng-change="changeTipoUbicacionDireccion($index, direccion.tipoUbicacionId)" ng-disabled="soloLecturaConsultar" ng-options="to.id as to.nombre for to in tipos" class="form-control" required>
                                    <option value="">@L("personas_nuevapersona_modalNuevaPersona_seleccione")</option>
                                </select>
                            </td>
                            <td class="text-center" width="20%">
                                <label class="switch switch-lg" ng-class="'switch-' + app.theme.name" data-toggle="popover" data-placement="top" title="{{direccion.fechaCancelacion}}">
                                    <input type="checkbox" ng-checked="direccion.nombreEstado" ng-show="direccion.nombreEstado" ng-disabled="soloLecturaConsultar || !direccion.nombreEstado" ng-click="inactivarDireccion($index)">
                                    <span></span>
                                </label>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@*<div class="row">
        <div class="col-md-12 text-left">
            <label class="btn btn-primary" ng-click="nuevoDireccion = !nuevoDireccion" ng-disabled="soloLecturaConsultar">@L("personas_nuevapersona_modalNuevaPersona_btnNuevoDireccion") <span class="glyphicon glyphicon-plus"></span></label>
        </div>
    </div>
    <div ng-show="nuevoDireccion">
        <bow-direccion registro-direccion="direccionRegistrada(direccion)"></bow-direccion>
    </div>
    <div class="row">
        <div class="col-md-12 text-left">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>@L("personas_nuevapersona_modalNuevaPersona_direccionTableDireccion")</th>
                        <th class="text-center">@L("personas_nuevapersona_modalNuevaPersona_direccionTableLocalidad")</th>
                        <th class="text-center">@L("personas_nuevapersona_modalNuevaPersona_direccionTableTipoUbicacion")</th>
                        <th class="text-center">@L("personas_nuevapersona_modalNuevaPersona_direccionTableIngreso")</th>
                        <th class="text-center">@L("personas_nuevapersona_modalNuevaPersona_direccionTableActivo") <input type="checkbox" ng-model="estadoActivoDireccion" ng-click="mostrarFilasDireccion(estadoActivoDireccion)"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="direccion in direccionesPersona" ng-show="(estadoActivoDireccion === direccionesPersona[$index].nombreEstado) || !estadoActivoDireccion">

                        <td>
                            {{direccion.direccionCompleta}}
                        </td>
                        <td class="text-center">
                            {{direccion.nombreLocalidad}}
                        </td>
                        <td class="text-center">
                            <select ng-model="direccion.tipoUbicacionId" ng-change="changeTipoUbicacionDireccion($index, direccion.tipoUbicacionId)" ng-disabled="soloLecturaConsultar" ng-options="to.id as to.nombre for to in tipos" class="form-control" required>
                                <option value="">@L("personas_nuevapersona_modalNuevaPersona_seleccione")</option>
                            </select>
                        </td>
                        <td class="text-center">
                            {{direccion.fechaIngreso}}
                        </td>
                        <td class="text-center">
                            <label ng-show="direccion.nombreEstado" ng-click="inactivarDireccion($index)" ng-disabled="soloLecturaConsultar" class="btn btn-primary">@L("personas_nuevapersona_modalNuevaPersona_inactivar")</label>
                            <label ng-show="!direccion.nombreEstado">{{direccionesPersona[$index].fechaCancelacion}}</label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>*@