<script type="text/ng-template" id="customTemplate.html">
    <a>
        <span bind-html-unsafe="match.model.nombre | typeaheadHighlight:query"></span>
    </a>
</script>
<div class="app-container" ng-controller="app.views.empresas.infoTributaria as vm">
    <div class="app-view-header page-header">
        <div class="col-md-12">
            @L("empresas_infoTributaria_titulo")
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <div class="panel panel-primary">
                <div class="panel-heading" ng-class="'bg-' + app.theme.name">
                    <span ng-if="!vm.editandoInfoTributaria">@L("empresas_infoTributaria_nuevo_titulo")</span>
                    <span ng-if="vm.editandoInfoTributaria">@L("empresas_infoTributaria_editar_titulo") - <span class="text-bold">{{vm.nombreInfoTributariaEditar | uppercase}}</span></span>
                </div>
                <div class="panel-body" ng-form="frmInfoTributaria">
                    <div class="form-group" ng-class="{'has-error' : frmInfoTributaria.iptNombreInfoTributaria.$dirty && frmInfoTributaria.iptNombreInfoTributaria.$invalid }">
                        <label class="control-label" for="iptNombreInfoTributaria">@L("empresas_infoTributaria_nuevo_nombre_nombre")</label>
                        <input type="text" class="form-control" id="iptNombreInfoTributaria" name="iptNombreInfoTributaria" placeholder="@L("empresas_infoTributaria_nuevo_nombre_placeholder")" ng-model="vm.infoTributaria.nombre" required maxlength="100" />
                        <div ng-show="frmInfoTributaria.iptNombreInfoTributaria.$dirty && frmInfoTributaria.iptNombreInfoTributaria.$invalid">
                            <small ng-show="frmInfoTributaria.iptNombreInfoTributaria.$error.required" class="text-danger">
                                @L("empresas_infoTributaria_nuevo_nombre_requerido")
                            </small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <label class="control-label" for="selectTipoValor">@L("empresas_infoTributaria_nuevo_tipoValor_nombre")</label>
                            <div class="form-group">
                                <select ng-model="vm.infoTributaria.tipoValorId" ng-options="to.id as to.nombre for to in vm.tiposValores" class="form-control" name="selectTipoValor" id="selectTipoValor">
                                    <option value="">@L("empresas_infoTributaria_nuevo_tipoValor_seleccione")</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <label class="control-label">@L("empresas_infoTributaria_nuevo_estado_nombre")</label>
                            <div>
                                <label class="switch switch-lg" ng-class="'switch-' + app.theme.name">
                                    <input type="checkbox" checked="checked" ng-model="vm.infoTributaria.estadoId">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button class="btn btn-success btn-circle btn-lg" ng-click="vm.saveOrUpdateInfoTributaria()" ng-disabled="frmInfoTributaria.$invalid" title="@L("personas_tiposDocumento_nuevo_btnGuardar")">
                                    <em class="fa fa-save"></em>
                                </button>
                                &nbsp;
                                <button class="btn btn-warning btn-circle btn-lg" ng-click="vm.cancelarUpdateInfoTributaria()" title="@L("personas_tiposDocumento_nuevo_btnCancelar")">
                                    <em class="fa" ng-class="{'fa-ban': vm.editandoInfoTributaria, 'fa-eraser': !vm.editandoInfoTributaria}"></em>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading text-center" ng-class="'bg-' + app.theme.name">
                    <span ng-if="vm.listaInfoTributarias.totalFilas == 1">{{vm.listaInfoTributarias.totalFilas}}&nbsp;@L("empresas_infoTributaria_tabla_conteo_1registro")</span>
                    <span ng-if="vm.listaInfoTributarias.totalFilas != 1">{{vm.listaInfoTributarias.totalFilas}}&nbsp;@L("empresas_infoTributaria_tabla_conteo_masde1registro")</span>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                <tr ng-repeat="infoTributaria in vm.listaInfoTributarias.filasMostrar track by $index"
                                    ng-mouseenter="vm.controles.mostrar($index)"
                                    ng-mouseleave="vm.controles.ocultar($index)">
                                    <td>
                                        <h4 class="media-heading">
                                            <a class="clickable" ng-click="vm.cargarOpcionesInfoTributaria(infoTributaria.id, infoTributaria.nombre)" title="@L("empresas_infoTributaria_opciones_titulo")">
                                                {{infoTributaria.nombre}}
                                            </a>
                                        </h4>
                                        <span class="text-muted">
                                            {{infoTributaria.cantidadOpciones}} <span ng-show="infoTributaria.cantidadOpciones == '1'">@L("empresas_infoTributaria_tabla_opciones_1registro")</span><span ng-hide="infoTributaria.cantidadOpciones == '1'">@L("empresas_infoTributaria_tabla_opciones_masde1registro")</span>
                                        </span>
                                        &nbsp;&nbsp;-&nbsp;&nbsp;
                                        <span class="text-muted">
                                            {{infoTributaria.cantidadLocalidades}} <span ng-show="infoTributaria.cantidadLocalidades == '1'">@L("empresas_infoTributaria_tabla_localidades_1registro")</span><span ng-hide="infoTributaria.cantidadLocalidades == '1'">@L("empresas_infoTributaria_tabla_localidades_masde1registro")</span>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="text-muted">
                                            <span class="text-bold">
                                                <span ng-show="infoTributaria.tipoValor">
                                                    @L("empresas_infoTributaria_tabla_tipoValor_titulo")
                                                </span>
                                                <span ng-show="!infoTributaria.tipoValor">
                                                    @L("empresas_infoTributaria_tabla_tipoValor_notiene")
                                                </span>
                                            </span>
                                        </span>
                                        <h4 class="media-heading">
                                            {{infoTributaria.tipoValor}}
                                        </h4>
                                    </td>
                                    <td class="text-center">
                                        <span class="text-muted">
                                            <span class="text-bold">
                                                <span ng-show="infoTributaria.estado">
                                                    @L("empresas_infoTributaria_tabla_vigente_titulo")
                                                </span>
                                                <span ng-show="!infoTributaria.estado">
                                                    @L("empresas_infoTributaria_tabla_noVigente_titulo")
                                                </span>
                                            </span>
                                        </span>
                                        <br />
                                        <i class="fa fa-check fa-2x" ng-show="infoTributaria.estado" aria-hidden="true" title="@L("empresas_infoTributaria_tabla_Vigente_tooltip")"></i>
                                    </td>
                                    <td class="text-center">
                                        <span ng-show="vm.controles.visible[$index]" class="pull-right">
                                            <bow-operacion-editar-fila operacion-editar="vm.editarInfoTributaria(infoTributaria.id)"
                                                                       mensaje-tooltip="@L("empresas_infoTributaria_tabla_editar_tooltip")"
                                                                       ng-show="!vm.eliminadoInfoTributaria">
                                            </bow-operacion-editar-fila>
                                            <bow-operacion-eliminar-fila mensaje-confirmacion="@L("empresas_infoTributaria_tabla_eliminar_confirmar")"
                                                                         mensaje-tooltip="@L("empresas_infoTributaria_tabla_eliminar_tooltip")"
                                                                         operacion-puede-eliminar="vm.puedeEliminarInfoTributaria(infoTributaria.id, funcionRetornarPuedeEliminar)"
                                                                         no-puede-eliminar="vm.noPuedeEliminar()"
                                                                         confirmacion-ok="vm.eliminarInfoTributaria(infoTributaria.id)"
                                                                         confirmacion-cancel="vm.cancelarEliminar()">
                                            </bow-operacion-eliminar-fila>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-center">
                            <pagination items-per-page="vm.listaInfoTributarias.filasPorPagina"
                                        total-items="vm.listaInfoTributarias.totalFilas"
                                        ng-model="vm.listaInfoTributarias.paginaActual"
                                        ng-change="vm.listaInfoTributarias.pageChanged()"
                                        class="pagination-sm"></pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="panel panel-default">
                <div class="row">
                    <div class="col-md-2">
                        <div class="row row-flush text-center text-muted m0">
                            <div class="col-md-12 bb br pv-xxl clickable" ng-class="{'bg-info': vm.opcionParametro[0]}" ripple="" title='@L("empresas_infoTributaria_opciones_titulo_tooltip")' ng-click="vm.opcionOpciones()">
                                <em class="fa fa-cogs fa-2x mv"></em>
                                <br />
                                @L("empresas_infoTributaria_opciones_pestana_tooltip")
                                <span class="ripple"></span>
                            </div>
                        </div>
                        <div class="row row-flush text-center text-muted m0">
                            <div class="col-md-12 bb br pv-xxl clickable" ng-class="{'bg-purple': vm.opcionParametro[1]}" ripple="" title='@L("empresas_infoTributaria_localidades_titulo_tooltip")' ng-click="vm.opcionLocalidades()">
                                <em class="fa fa-globe fa-2x mv"></em>
                                <br />
                                @L("empresas_infoTributaria_localidades_pestana_tooltip")
                                <span class="ripple"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10" ng-if="vm.opcionParametro[0]">
                        <div class="p pv-xxl">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <span ng-if="vm.administrandoOpcionesLocalidades">@L("empresas_infoTributaria_opciones_panel_titulo") - <span class="text-bold">{{vm.nombreInfoTributariaOpciones | uppercase}}</span></span>
                                </div>
                                <div class="panel-body">
                                    <form role="form" name="formOpcionInfoTributaria" ng-if="vm.verFormularioOpciones">
                                        <input id="formOpcionInfoTributariaOculto" ng-model="vm.formOpcionInfoTributaria" ng-init="vm.formOpcionInfoTributaria = formOpcionInfoTributaria" hidden>
                                        <label class="control-label" ng-show="!vm.editandoOpcionInfoTributaria">@L("empresas_infoTributaria_opciones_form_nuevo_titulo")</label>
                                        <label class="control-label" ng-show="vm.editandoOpcionInfoTributaria">@L("empresas_infoTributaria_opciones_form_editar_titulo")</label>
                                        <br />
                                        <div class="form-group" ng-class="{'has-error' : formOpcionInfoTributaria.iptNombreOpcionInfoTributaria.$dirty && formOpcionInfoTributaria.iptNombreOpcionInfoTributaria.$invalid }">
                                            <label class="control-label" for="iptNombreInfoTributaria">@L("empresas_infoTributaria_opciones_form_nuevo_nombre")</label>
                                            <input type="text" class="form-control" id="iptNombreOpcionInfoTributaria" name="iptNombreOpcionInfoTributaria" placeholder="@L("empresas_infoTributaria_opciones_form_nuevo_nombre_tooltip")" ng-model="vm.opcionInfoTributaria.nombre" required maxlength="50" />
                                            <div ng-show="formOpcionInfoTributaria.iptNombreOpcionInfoTributaria.$dirty && formOpcionInfoTributaria.iptNombreOpcionInfoTributaria.$invalid">
                                                <small ng-show="formOpcionInfoTributaria.iptNombreOpcionInfoTributaria.$error.required" class="text-danger">
                                                    @L("empresas_infoTributaria_opciones_form_nuevo_nombre_requerido")
                                                </small>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="pull-right">
                                                    <button type="button" class="btn btn-success btn-circle btn-lg" ng-click="vm.saveOrUpdateOpcionInfoTributaria()" ng-disabled="formOpcionInfoTributaria.$invalid" title="@L("personas_tiposDocumento_nuevo_btnGuardar")">
                                                        <em class="fa fa-save"></em>
                                                    </button>
                                                    &nbsp;
                                                    <button type="button" class="btn btn-warning btn-circle btn-lg" ng-click="vm.cancelarUpdateOpcionesInfoTributaria(true)" title="@L("empresas_infoTributaria_opciones_btn_limpiar")">
                                                        <em class="fa" ng-class="{'fa-ban': vm.editandoOpcionInfoTributaria, 'fa-eraser': !vm.editandoOpcionInfoTributaria}"></em>
                                                    </button>
                                                    &nbsp;
                                                    <button type="button" class="btn btn-danger btn-circle btn-lg" ng-click="vm.cancelarUpdateOpcionesInfoTributaria(false)" title="@L("empresas_infoTributaria_opciones_btn_cancelar")">
                                                        <em class="fa fa-close"></em>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="row" ng-if="!vm.verFormularioOpciones && vm.nombreInfoTributariaOpciones">
                                        <div class="col-lg-12 text-right">
                                            <button type="button" class="btn btn-success btn-circle btn-lg" ng-click="vm.nuevaOpcionInfoTributaria()" title="@L("empresas_infoTributaria_opciones_btn_nueva")">
                                                <em class="fa fa-plus"></em>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="table-responsive" ng-if="!vm.verFormularioOpciones">
                                        <table class="table table-hover">
                                            <tbody>
                                                <tr ng-repeat="opcionInfoTributaria in vm.listaOpcionesInfoTributaria.filasMostrar track by $index"
                                                    ng-mouseenter="vm.controlesOpciones.mostrar($index)"
                                                    ng-mouseleave="vm.controlesOpciones.ocultar($index)">
                                                    <td>
                                                        <h5 class="media-heading">
                                                            {{opcionInfoTributaria.nombre}}
                                                        </h5>

                                                    </td>
                                                    <td class="text-center">
                                                        <span ng-show="vm.controlesOpciones.visible[$index]" class="pull-right">
                                                            <bow-operacion-editar-fila operacion-editar="vm.editarOpcionInfoTributaria(opcionInfoTributaria.id)"
                                                                                       mensaje-tooltip="@L("empresas_infoTributaria_opciones_tabla_editar_tooltip")"
                                                                                       ng-show="!vm.eliminandoOpcionInfoTributaria">
                                                            </bow-operacion-editar-fila>
                                                            <bow-operacion-eliminar-fila mensaje-confirmacion="@L("empresas_infoTributaria_opciones_tabla_eliminar_confirmar")"
                                                                                         mensaje-tooltip="@L("empresas_infoTributaria_opciones_tabla_eliminar_tooltip")"
                                                                                         operacion-puede-eliminar="vm.puedeEliminarOpcionInfoTributaria(opcionInfoTributaria.id, funcionRetornarPuedeEliminar)"
                                                                                         no-puede-eliminar="vm.noPuedeOpcionEliminar()"
                                                                                         confirmacion-ok="vm.eliminarOpcionInfoTributaria(opcionInfoTributaria.id, opcionInfoTributaria.nombre)"
                                                                                         confirmacion-cancel="vm.cancelarOpcionEliminar()">
                                                            </bow-operacion-eliminar-fila>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="text-center">
                                            <pagination items-per-page="vm.listaOpcionesInfoTributaria.filasPorPagina"
                                                        total-items="vm.listaOpcionesInfoTributaria.totalFilas"
                                                        ng-model="vm.listaOpcionesInfoTributaria.paginaActual"
                                                        ng-change="vm.listaOpcionesInfoTributaria.pageChanged()"
                                                        class="pagination-sm"></pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10" ng-if="vm.opcionParametro[1]">
                        <div class="p pv-xxl">
                            <div class="panel panel-purple">
                                <div class="panel-heading">
                                    <span ng-if="vm.administrandoOpcionesLocalidades">@L("empresas_infoTributaria_localidades_panel_titulo") - <span class="text-bold">{{vm.nombreInfoTributariaOpciones | uppercase}}</span></span>
                                </div>
                                <div class="panel-body" ng-if="vm.administrandoOpcionesLocalidades">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-success btn-circle btn-lg" ng-click="vm.mostrarFormularioAsignarLocalidad()" title="@L("empresas_infoTributaria_localidades_btnAsignar_tooltip")">
                                                <em class="fa fa-plus"></em>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-circle btn-lg" ng-click="vm.mostrarFormularioEliminarLocalidad()" title="@L("empresas_infoTributaria_localidades_btnEliminar_tooltip")">
                                                <em class="fa fa-trash"></em>
                                            </button>
                                        </div>
                                    </div>
                                    <br />
                                    <div ng-show="vm.mostrarLocalidadesLista">
                                        <form role="form" name="formLocalidad">
                                            <input id="formLocalidadOculto" ng-model="vm.formLocalidad" ng-init="vm.formLocalidad = formLocalidad" hidden>
                                            <div class="row">
                                                <div class="col-md-1">
                                                    <label class="control-label" for="iptLocalidad">@L("empresas_infoTributaria_localidades_filtro_nombre")</label>
                                                </div>
                                                <div class="col-md-11">
                                                    <input id="iptLocalidad" name="iptLocalidad" type="text" ng-model="selected" class="form-control" typeahead-editable="false" ng-change="vm.validarTypeaheadVacio(selected.id)"
                                                           typeahead="localidad as localidad.nombre for localidad in vm.filterByLocalidadAndDepartamentoAndPais(vm.localidades, $viewValue)"
                                                           typeahead-template-url="customTemplate.html" typeahead-on-select="vm.cargarLocalidadesLista(selected.id, selected.nombre, selected.tipoEntrada)" required>
                                                    <div ng-show="formLocalidad.iptLocalidad.$dirty && formLocalidad.iptLocalidad.$invalid">
                                                        <small ng-show="formLocalidad.iptLocalidad.$invalid && !formLocalidad.iptLocalidad.$error.required" class="text-danger">
                                                            @L("empresas_infoTributaria_localidades_filtro_noSelecciono")
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <table class="table table-striped table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        <div class="row">
                                                                            <div class="col-lg-8">
                                                                                <h4 class="media-heading" ng-class="'text-' + app.theme.name">
                                                                                    @L("empresas_infoTributaria_localidades_tabla_localidad_titulo")
                                                                                </h4>
                                                                            </div>
                                                                            <div class="col-lg-4 text-right">
                                                                                <p>{{vm.listaLocalidadesTabla.totalFilas}} <span ng-show="vm.listaLocalidadesTabla.totalFilas == '1'">@L("empresas_infoTributaria_localidades_tabla_conteo_1registro")</span><span ng-hide="vm.listaLocalidadesTabla.totalFilas == '1'">@L("empresas_infoTributaria_localidades_tabla_conteo_masde1registro")</span></p>
                                                                            </div>
                                                                        </div>
                                                                    
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="localidad in vm.listaLocalidadesTabla.filasMostrar track by $index">
                                                                    <td>
                                                                        <strong>{{localidad.nombre}}</strong>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="text-center">
                                                    <pagination items-per-page="vm.listaLocalidadesTabla.filasPorPagina"
                                                                total-items="vm.listaLocalidadesTabla.totalFilas"
                                                                ng-model="vm.listaLocalidadesTabla.paginaActual"
                                                                ng-change="vm.listaLocalidadesTabla.pageChanged()"
                                                                class="pagination-sm"></pagination>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-hide="vm.mostrarLocalidadesLista">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <form role="form" name="formAsignarOrEliminarLocalidad">
                                                    <input id="formAsignarOrEliminarLocalidadOculto" ng-model="vm.formAsignarOrEliminarLocalidad" ng-init="vm.formAsignarOrEliminarLocalidad = formAsignarOrEliminarLocalidad" hidden>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h5 class="media-heading" ng-class="'text-' + app.theme.name">
                                                                <span ng-show="vm.mostrarFormulario == 'Asignar'">@L("empresas_infoTributaria_localidades_asignar_titulo")</span>
                                                                <span ng-show="vm.mostrarFormulario == 'Eliminar'">@L("empresas_infoTributaria_localidades_eliminar_titulo")</span>
                                                            </h5>

                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 bow-padding-bottom-10">
                                                            <div class="btn-group">
                                                                <div class="radio-inline c-radio">
                                                                    <label>
                                                                        <input type="radio" name="i-radio" value="P" checked="checked" ng-model="vm.opcionBusqueda" ng-change="vm.cambiarListaFiltro()">
                                                                        <span class="fa fa-globe"></span>@L("empresas_infoTributaria_localidades_asignar_tipoBusqueda_pais")
                                                                    </label>
                                                                </div>
                                                                <div class="radio-inline c-radio">
                                                                    <label>
                                                                        <input type="radio" name="i-radio" value="D" checked="checked" ng-model="vm.opcionBusqueda" ng-change="vm.cambiarListaFiltro()">
                                                                        <span class="fa fa-globe"></span>@L("empresas_infoTributaria_localidades_asignar_tipoBusqueda_departamento")
                                                                    </label>
                                                                </div>
                                                                <div class="radio-inline c-radio">
                                                                    <label>
                                                                        <input type="radio" name="i-radio" value="L" checked="checked" ng-model="vm.opcionBusqueda" ng-change="vm.cambiarListaFiltro()">
                                                                        <span class="fa fa-map-marker"></span>@L("empresas_infoTributaria_localidades_asignar_tipoBusqueda_localidad")
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <input id="iptAsignarLocalidad" name="iptAsignarLocalidad" type="text" ng-model="vm.selectedAsignarOrEliminar" class="form-control" typeahead-editable="false"
                                                                   typeahead="localidad as localidad.nombre for localidad in vm.filterByLocalidadAndDepartamentoAndPaisAsignarOrEliminar(vm.localidadesAsignarOrEliminar, $viewValue)"
                                                                   typeahead-template-url="customTemplate.html" required typeahead-on-select="onSelect($item, $model, $label)">
                                                            <div ng-show="formAsignarOrEliminarLocalidad.iptAsignarLocalidad.$dirty && formAsignarOrEliminarLocalidad.iptAsignarLocalidad.$invalid">
                                                                <small ng-show="formAsignarOrEliminarLocalidad.iptAsignarLocalidad.$error.required" class="text-danger">
                                                                    @L("empresas_infoTributaria_localidades_asignar_filtro_requerido")
                                                                </small>
                                                                <small ng-show="formAsignarOrEliminarLocalidad.iptAsignarLocalidad.$invalid && !formAsignarOrEliminarLocalidad.iptAsignarLocalidad.$error.required" class="text-danger">
                                                                    @L("empresas_infoTributaria_localidades_asignar_filtro_NoSeleccionado")
                                                                </small>
                                                            </div>
                                                            <br />
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="row" ng-show="vm.selectedAsignarOrEliminar">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <table class="table table-striped table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        <div class="row">
                                                                            <div class="col-lg-8">
                                                                                <h4 class="media-heading" ng-class="'text-' + app.theme.name">
                                                                                    <span ng-show="vm.mostrarFormulario == 'Asignar'">@L("empresas_infoTributaria_localidades_localidadesAAsignar")</span>
                                                                                    <span ng-hide="vm.mostrarFormulario == 'Asignar'">@L("empresas_infoTributaria_localidades_localidadesAEliminar")</span>
                                                                                </h4>
                                                                            </div>
                                                                            <div class="col-lg-4 text-right">
                                                                                <p>{{vm.listaLocalidadesAsignarTabla.totalFilas}} <span ng-show="vm.listaLocalidadesAsignarTabla.totalFilas == '1'">@L("empresas_infoTributaria_localidades_conteo_1registro")</span><span ng-hide="vm.listaLocalidadesAsignarTabla.totalFilas == '1'">@L("empresas_infoTributaria_localidades_conteo_masde1registro")</span></p>
                                                                            </div>
                                                                        </div>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="localidad in vm.listaLocalidadesAsignarTabla.filasMostrar track by $index">
                                                                    <td>
                                                                        <strong>{{localidad.nombre}}</strong>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="text-center">
                                                    <pagination items-per-page="vm.listaLocalidadesAsignarTabla.filasPorPagina"
                                                                total-items="vm.listaLocalidadesAsignarTabla.totalFilas"
                                                                ng-model="vm.listaLocalidadesAsignarTabla.paginaActual"
                                                                ng-change="vm.listaLocalidadesAsignarTabla.pageChanged()"
                                                                class="pagination-sm"></pagination>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button ng-hide="vm.confirmacionAsignar" ng-show="vm.mostrarFormulario == 'Asignar'" type="button" class="btn btn-success btn-circle btn-lg" ng-click="vm.asignarLocalidad()" ng-disabled="!vm.selectedAsignarOrEliminar || vm.listaLocalidadesAsignarTabla.totalFilas == '0'" title="@L("empresas_infoTributaria_localidades_asignar_btnAsignar_nombre")">
                                                <em class="fa fa-save"></em>
                                            </button>
                                            <div ng-show="vm.mostrarFormulario == 'Asignar' && vm.confirmacionAsignar && vm.selectedAsignarOrEliminar">
                                                @L("empresas_infoTributaria_localidades_asignar_verificacion_titulo")
                                                <br />
                                                <button class="btn btn-success btn-circle btn-lg" ng-click="vm.mostrarConfirmacionAsignar()" title="@L("empresas_infoTributaria_localidades_asignar_verificacion_si")">
                                                    <em class="fa fa-check"></em>
                                                </button>
                                                <button class="btn btn-warning btn-circle btn-lg" ng-click="vm.asignarCancel()" title="@L("empresas_infoTributaria_localidades_asignar_verificacion_no")">
                                                    <em class="fa fa-times"></em>
                                                </button>
                                            </div>
                                            <button ng-hide="vm.confirmacionEliminar || vm.mostrarFormulario == 'Asignar'" type="button" class="btn btn-danger btn-circle btn-lg" ng-click="vm.eliminarLocalidad()" ng-disabled="!vm.selectedAsignarOrEliminar || vm.listaLocalidadesAsignarTabla.totalFilas == '0'" title="@L("empresas_infoTributaria_localidades_eliminar_btnEliminar_nombre")">
                                                <em class="fa fa-trash"></em>
                                            </button>
                                            <div ng-show="vm.mostrarFormulario == 'Eliminar' && vm.confirmacionEliminar && vm.selectedAsignarOrEliminar">
                                                @L("empresas_infoTributaria_localidades_eliminar_verificacion_titulo")
                                                <br />
                                                <button class="btn btn-danger btn-circle btn-lg" ng-click="vm.mostrarConfirmacionEliminar()" title="@L("empresas_infoTributaria_localidades_eliminar_verificacion_si")">
                                                    <em class="fa fa-check"></em>
                                                </button>
                                                <button class="btn btn-warning btn-circle btn-lg" ng-click="vm.eliminarCancel()" title="@L("empresas_infoTributaria_localidades_eliminar_verificacion_no")">
                                                    <em class="fa fa-times"></em>
                                                </button>
                                            </div>
                                            <button ng-hide="vm.confirmacionAsignar || vm.confirmacionEliminar" type="button" class="btn btn-warning btn-circle btn-lg" ng-click="vm.cancelFormulario()" title="@L("empresas_infoTributaria_localidades_volver_listado")">
                                                <em class="fa fa-close"></em>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>