<div class="app-container" ng-controller="app.views.empleados.empleado as vm">
    <div class="app-view-header page-header">
        @L("zonificacion_empleado_titulo")
        <small>@L("zonificacion_empleado_subtitulo")</small>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading" ng-class="'bg-' + app.theme.name">
                    <span>@L("") Registrar Nuevo Empleado</span>
                </div>
                <div class="panel-body" ng-form="frmEmpleado">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" ng-class="{'has-error' : frmEmpleado.iptCodigo.$dirty && frmEmpleado.iptCodigo.$invalid}">
                                <label class="control-label" for="iptCodigo">
                                    @L("empleados_nuevoempleado_codigo")
                                </label>
                                <input type="text" ng-pattern="/^[0-9]+$/" class="form-control" id="iptCodigo" name="iptCodigo" ng-model="vm.nuevoEmpleado.codigo" maxlength="50" />
                                <div ng-show="frmEmpleado.iptCodigo.$dirty && frmEmpleado.iptCodigo.$invalid">
                                    <small ng-show="frmEmpleado.iptCodigo.$error.pattern" class="text-danger">
                                        @L("empleados_nuevoempleado_codigoNumerico")
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="iptCedula">
                                    @L("empleados_nuevoempleado_cedula")
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="iptCedula" name="iptCedula" ng-model="vm.cedula" required maxlength="50">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="vm.consultarPersona()" @*ng-disabled="validarDatos.$invalid"*@><em class="fa fa-search"></em></button>
                                    </span>
                                </div>
                            </div>
                            <div class="text-center">
                                {{vm.persona.nombreCompleto}}
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-8">
                                    <label class="control-label" for="iptSucursal">
                                        @L("empleados_nuevoempleado_sucursal")
                                    </label>
                                    <select class="form-control" ng-model="vm.nuevoEmpleado.sucursalId" required>
                                        <option value="1">
                                            1
                                        </option>
                                        <option value="2">
                                            2
                                        </option>
                                        <option value="3">
                                            3
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label" for="iptEstado">
                                        @L("empleados_nuevoempleado_estado")
                                    </label>
                                    <div>
                                        <label class="switch switch-lg" ng-class="'switch-' + app.theme.name">
                                            <input type="checkbox" checked="checked" ng-model="vm.nuevoEmpleado.estadoId">
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button class="btn btn-success btn-circle btn-lg" ng-click="vm.saveEmpleado()" ng-disabled="frmEmpleado.$invalid || vm.persona == ''">
                                    <em class="fa fa-save"></em>
                                </button>
                                &nbsp;
                                <button class="btn btn-warning btn-circle btn-lg" ng-click="vm.cancelarEmpleado()">
                                    <em class="fa fa-eraser"></em>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    @*<div ng-show="mostrarEmpleado">
        <div class="row">
            <div class="col-md-12">
                <form role="form" name="validarDatos">
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{'has-error' : validarDatos.iptCodigo.$dirty && validarDatos.iptCodigo.$invalid}">
                            <label class="control-label" for="iptCodigo">
                                @L("empleados_nuevoempleado_codigo")
                            </label>
                            <input type="text" ng-pattern="/^[0-9]+$/" class="form-control" id="iptCodigo" name="iptCodigo" ng-model="vm.nuevoEmpleado.codigo" maxlength="50" />
                            <div ng-show="validarDatos.iptCodigo.$dirty && validarDatos.iptCodigo.$invalid">
                                <small ng-show="validarDatos.iptCodigo.$error.pattern" class="text-danger">
                                    @L("empleados_nuevoempleado_codigoNumerico")
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label" for="iptCedula">
                            @L("empleados_nuevoempleado_cedula")
                        </label>
                        <div class="input-group add-on">
                            <input type="text" class="form-control" id="iptCedula" name="iptCedula" ng-model="vm.cedula" required maxlength="50" />
                            <div class="input-group-btn">
                                <button class="btn btn-success " ng-click="vm.consultarPersona()" ng-disabled="validarDatos.$invalid"><span class="glyphicon glyphicon-plus"></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        {{vm.persona.nombreCompleto}}
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <label class="control-label" for="iptSucursal">
                        @L("empleados_nuevoempleado_sucursal")
                    </label>
                    <select class="form-control" ng-model="vm.nuevoEmpleado.sucursalId" required>
                        <option value="1">
                            1
                        </option>
                        <option value="2">
                            2
                        </option>
                        <option value="3">
                            3
                        </option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="control-label" for="iptEstado">
                        @L("empleados_nuevoempleado_estado")
                    </label>
                    <select class="form-control" ng-options="to.id as to.nombre for to in  vm.estados" ng-model="vm.nuevoEmpleado.estadoId" required></select>
                </div>
            </div>
        </div><br />
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="vm.saveEmpleado()">@L("empleados_nuevoempleado_btnGuardar")</button>
            <button class="btn btn-danger" ng-click="vm.cancelEmpleado()">@L("empleados_nuevoempleado_btnCancelar")</button>
        </div>
    </div>
</div>*@


@*<div class="container" ng-controller="app.views.empleados.empleado as vm">
        <div class="alert alert-danger text-center" ng-show="mensajeError">
            <strong>{{mensajeError}}</strong>
        </div>

        <div class="row bow-margin-top-10">
            <div class="col-md-12 ">
                <div class="col-md-6 text-center">
                    @L("empleados_nuevoempleado_RegistrarEmpleado")
                </div>
                <div class="col-md-6 input-group text-center">
                    <button class="btn btn-success" ng-click="mostrarEmpleado = !mostrarEmpleado">
                        @L("empleados_nuevoempleado_nuevoEmpleado") &nbsp;
                        <i class="glyphicon glyphicon-plus font-size-18"></i>
                    </button>
                </div>
            </div>
        </div>
        <div ng-show="mostrarEmpleado">
            <div class="row">
                <div class="col-md-12">
                    <form role="form" name="validarDatos">
                        <div class="col-md-4">
                            <div class="form-group" ng-class="{'has-error' : validarDatos.iptCodigo.$dirty && validarDatos.iptCodigo.$invalid}">
                                <label class="control-label" for="iptCodigo">
                                    @L("empleados_nuevoempleado_codigo")
                                </label>
                                <input type="text" ng-pattern="/^[0-9]+$/" class="form-control" id="iptCodigo" name="iptCodigo" ng-model="vm.nuevoEmpleado.codigo" maxlength="50" />
                                <div ng-show="validarDatos.iptCodigo.$dirty && validarDatos.iptCodigo.$invalid">
                                    <small ng-show="validarDatos.iptCodigo.$error.pattern" class="text-danger">
                                        @L("empleados_nuevoempleado_codigoNumerico")
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label" for="iptCedula">
                                @L("empleados_nuevoempleado_cedula")
                            </label>
                            <div class="input-group add-on">
                                <input type="text" class="form-control" id="iptCedula" name="iptCedula" ng-model="vm.cedula" required maxlength="50" />
                                <div class="input-group-btn">
                                    <button class="btn btn-success " ng-click="vm.consultarPersona()" ng-disabled="validarDatos.$invalid"><span class="glyphicon glyphicon-plus"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            {{vm.persona.nombreCompleto}}
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <label class="control-label" for="iptSucursal">
                            @L("empleados_nuevoempleado_sucursal")
                        </label>
                        <select class="form-control" ng-model="vm.nuevoEmpleado.sucursalId" required>
                            <option value="1">
                                1
                            </option>
                            <option value="2">
                                2
                            </option>
                            <option value="3">
                                3
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label" for="iptEstado">
                            @L("empleados_nuevoempleado_estado")
                        </label>
                        <select class="form-control" ng-options="to.id as to.nombre for to in  vm.estados" ng-model="vm.nuevoEmpleado.estadoId" required></select>
                    </div>
                </div>
            </div><br />
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="vm.saveEmpleado()">@L("empleados_nuevoempleado_btnGuardar")</button>
                <button class="btn btn-danger" ng-click="vm.cancelEmpleado()">@L("empleados_nuevoempleado_btnCancelar")</button>
            </div>
        </div>
    </div>*@
