<div class="app-container" ng-controller="app.views.zonificacion.departamento as vm">
    <div class="app-view-header page-header">
        @L("zonificacion_departamento_titulo"){{vm.inputPais.nombre}}
        <small>@L("zonificacion_departamento_subtitulo"){{vm.inputPais.indicativo}}</small>
        <a class="pull-right" ui-sref="pais">@L("zonificacion_zonificacion_listaPaises")<i class="fa fa-chevron-left font-size-16"></i></a>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading" ng-class="'bg-' + app.theme.name">
                    <span ng-if="!vm.editandoDepartamento">@L("zonificacion_departamento_nuevo")</span>
                    <span ng-if="vm.editandoDepartamento">@L("zonificacion_departamento_editar") {{vm.nombreDepartamentoEditar | uppercase}}</span>
                </div>
                <div class="panel-body" ng-form="frmDepartamento">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" ng-class="{'has-error' : frmDepartamento.iptNombreDpto.$dirty && frmDepartamento.iptNombreDpto.$invalid}">
                                <label class="control-label" for="iptNombreDpto">@L("zonificacion_departamento_modalNuevoDpto_nombreDpto")</label>
                                <input type="text" class="form-control" id="iptNombreDpto" name="iptNombreDpto" placeholder="@L("zonificacion_departamento_modalNuevoDpto_nombreDpto")" ng-model="vm.nuevoDepartamento.nombre" required maxlength="25" />
                                <div ng-show="frmDepartamento.iptNombreDpto.$dirty && frmDepartamento.iptNombreDpto.$invalid">
                                    <small ng-show="frmDepartamento.iptNombreDpto.$error.required" class="text-danger">
                                        @L("zonificacion_departamento_modalNuevoDpto_nombreDptoRequerido")
                                    </small>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error' : frmDepartamento.iptIndicativoDpto.$dirty && frmDepartamento.iptIndicativoDpto.$invalid}">
                                <label class="control-label" for="iptIndicativoDpto">@L("zonificacion_departamento_modalNuevoDpto_indicativoDpto")</label>
                                <input ng-pattern="/^[0-9]+$/" type="text" class="form-control" id="iptIndicativoDpto" name="iptIndicativoDpto" placeholder=@L("zonificacion_departamento_modalNuevoDpto_indicativoDpto") ng-model="vm.nuevoDepartamento.indicativo" required maxlength="4" />
                                <div ng-show="frmDepartamento.iptIndicativoDpto.$dirty && frmDepartamento.iptIndicativoDpto.$invalid">
                                    <small ng-show="frmDepartamento.iptIndicativoDpto.$error.required" class="text-danger">
                                        @L("zonificacion_departamento_modalNuevoDpto_indicativoDptoRequerido")
                                    </small>
                                    <small ng-show="frmDepartamento.iptIndicativoDpto.$error.pattern" class="text-danger">
                                        @L("zonificacion_departamento_modalNuevoDpto_indicativoDptoNumerico")
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button class="btn btn-success btn-circle btn-lg" ng-click="vm.saveOrUpdateDepartamento()" ng-disabled="frmDepartamento.$invalid" title='@L("zonificacion_departamento_guardar")'>
                                    <em class="fa fa-save"></em>
                                </button>
                                &nbsp;
                                <button class="btn btn-warning btn-circle btn-lg" ng-click="vm.cancelarUpdateDepartamento()" title='@L("zonificacion_departamento_cancelar_editar")'>
                                    <em class="fa" ng-class="{'fa-ban': vm.editandoDepartamento, 'fa-eraser': !vm.editandoDepartamento}"></em>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="panel panel-primary">
                <div class="panel-heading" ng-class="'bg-' + app.theme.name">
                    {{vm.departamentos.totalFilas}} @L("zonificacion_departamento_cantidadDepartamentos")
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr ng-repeat="departamento in vm.departamentos.filasMostrar track by $index"
                                            ng-mouseenter="vm.controles.mostrar($index)"
                                            ng-mouseleave="vm.controles.ocultar($index)">
                                            <td>
                                                <h4 class="media-heading">
                                                    <a ui-sref="zonificacionLocalidad({departamentoId : departamento.id})"
                                                       title='@L("zonificacion_departamento_operacionEditar")'>
                                                        {{departamento.nombre}}
                                                    </a>
                                                </h4>
                                                <span class="text-muted">
                                                    @L("zonificacion_departamento_indicativoDepto") {{departamento.indicativo}}
                                                </span>
                                            </td>
                                            <td>
                                                <div class="pull-right" ng-show="vm.controles.visible[$index] && !vm.editandoDepartamento">
                                                    <button class="btn btn-success btn-circle btn-lg" ng-click="vm.editarDepartamento(departamento)" ng-hide="vm.eliminandoDepartamento" title="@L("zonificacion_departamento_operacionEditar")">
                                                        <em class="fa fa-pencil"></em>
                                                    </button>
                                                    &nbsp;
                                                    <bow-operacion-eliminar-fila mensaje-confirmacion='@L("zonificacion_pais_eliminarDepto_confirmacion")'
                                                                                 mensaje-tooltip='@L("zonificacion_departamento_operacionEliminar")'
                                                                                 operacion-puede-eliminar="vm.puedeEliminarDepartamento(departamento.id, funcionRetornarPuedeEliminar)"
                                                                                 no-puede-eliminar="vm.noPuedeEliminar()"
                                                                                 confirmacion-ok="vm.eliminarDepartamentoOk(departamento)"
                                                                                 confirmacion-cancel="vm.eliminarDepartamentoCancel()">
                                                    </bow-operacion-eliminar-fila>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="text-right">
                                    <pagination ng-show="vm.departamentos.filasPorPagina < vm.departamentos.totalFilas" items-per-page="vm.departamentos.filasPorPagina"
                                                total-items="vm.departamentos.totalFilas"
                                                ng-model="vm.departamentos.paginaActual"
                                                ng-change="vm.departamentos.pageChanged()"
                                                class="pagination-sm"></pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>