<div class="app-container" ng-controller="app.views.personas.preferencia.preferencias as vm">
    <div class="app-view-header page-header">
        @L("personas_preferenciasPersonales_titulo")
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="row" ng-show="vm.ingresandoPreferencia || vm.editandoPreferencia">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading" ng-class="'bg-' + app.theme.name">
                            <span ng-if="!vm.editandoPreferencia">@L("personas_preferenciasPersonales_nuevaPreferenciaPersonal")</span>
                            <span ng-if="vm.editandoPreferencia">@L("zonificacion_pais_editar") {{vm.nombrePreferencia | uppercase}}</span>
                        </div>
                        <div class="panel-body" ng-form="frmPreferencia">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{'has-error' : frmPreferencia.iptNombrePreferencia.$dirty && frmPreferencia.iptNombrePreferencia.$invalid}">
                                        <label class="control-label" for="iptNombrePreferencia">@L("personas_preferenciaPesonal_nuevaPreferencia")</label>
                                        <input type="text" class="form-control" id="iptNombrePreferencia" name="iptNombrePreferencia" placeholder="@L("personas_preferenciaPesonal_nuevaPreferencia")" ng-model="vm.nuevaPreferencia.nombre" required maxlength="25" />
                                        <div ng-show="frmPreferencia.iptNombrePreferencia.$dirty && frmPreferencia.iptNombrePreferencia.$invalid">
                                            <small ng-show="frmPreferencia.iptNombrePreferencia.$error.required" class="text-danger">
                                                @L("personas_preferenciaPesonal_nuevaPreferenciaNombreRequerido")
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label ng-show="vm.editandoPreferencia">
                                        Preferencia Activa
                                        <span class="text-center bow-display-block">
                                            <label class="switch switch-lg" ng-class="'switch-' + app.theme.name">
                                                <input type="checkbox" value="" ng-model="vm.nuevaPreferencia.estado"/>
                                                <span></span>
                                            </label>
                                        </span>
                                    </label>
                                </div>
                                <div class="col-md-8">
                                    <div class="pull-right">
                                        <button class="btn btn-success btn-circle btn-lg" ng-click="vm.saveOrUpdatePreferencia()" ng-disabled="frmPreferencia.$invalid" title='@L("personas_preferenciaPersonal_NuevaPreferencia_btGuardar")'>
                                            <em class="fa fa-save"></em>
                                        </button>
                                        &nbsp;
                                        <button class="btn btn-warning btn-circle btn-lg" ng-click="vm.cancelarIngresoPreferencia()" title='@L("personas_preferenciaPersonal_NuevaPreferencia_btCancelar")'>
                                            <em class="fa fa-times"></em>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading" ng-class="'bg-' + app.theme.name">
                            {{vm.preferencias.totalFilas}}@L("personas_preferenciasPersonales_cantidadPreferenciaPersonal")
                        </div>
                        <div class="panel-body">
                            <div class="row" ng-show="!(vm.ingresandoPreferencia || vm.editandoPreferencia)">
                                <div class="col-md-12 bow-padding-bottom-15">
                                    <button class="btn btn-success btn-circle btn-lg pull-right" ng-click="vm.ingresandoPreferencia = !vm.ingresandoPreferencia" title='@L("personas_preferenciaPersonal_nuevo")'>
                                        <em class="fa fa-plus"></em>
                                    </button>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr ng-repeat="preferencia in vm.preferencias.filasMostrar track by $index"
                                            ng-mouseenter="vm.controlesPreferencia.mostrar($index)"
                                            ng-mouseleave="vm.controlesPreferencia.ocultar($index)"
                                            ng-class="{'active': vm.seleccionPreferencia.marcado[(vm.preferencias.filasPorPagina * (vm.preferencias.paginaActual - 1)) + $index]}">
                                            <td>
                                                <h4>
                                                    <a class="clickable" ng-click="vm.consultarOpcionesPreferencia(preferencia, $index)">{{preferencia.nombre}}</a>
                                                </h4>
                                                <em ng-if="preferencia.estado" class="text-muted text-success">
                                                    @L("personas_preferenciasPersonales_estado_activo")
                                                </em>
                                                <em ng-if="!preferencia.estado" class="text-muted text-danger">
                                                    @L("personas_preferenciasPersonales_estado_inactivo")
                                                </em>

                                            </td>
                                            <td>
                                                <div class="pull-right" ng-show="vm.controlesPreferencia.visible[$index] && !vm.editandoPreferencia && !vm.ingresandoPreferencia">
                                                    <button class="btn btn-success btn-circle btn-lg" ng-click="vm.editarPreferencia(preferencia)" ng-hide="vm.eliminandoPreferencia" title='@L("personas_preferenciasPersonales_editar")'>
                                                        <em class="fa fa-pencil"></em>
                                                    </button>
                                                    &nbsp;
                                                    <bow-operacion-eliminar-fila mensaje-confirmacion='@L("personas_preferenciasPersonales_eliminarPreferencia_confirmacion")'
                                                                                 mensaje-tooltip='@L("personas_preferenciasPersonales_eliminarPreferencia_tooltip")'
                                                                                 operacion-puede-eliminar="vm.puedeEliminarPreferencia(preferencia, funcionRetornarPuedeEliminar)"
                                                                                 no-puede-eliminar="vm.noPuedeEliminarPreferencia()"
                                                                                 confirmacion-ok="vm.eliminarPreferenciaOk(preferencia)"
                                                                                 confirmacion-cancel="vm.eliminarPreferenciaCancel()"
                                                                            </bow-operacion-eliminar-fila>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="pull-right" ng-show="vm.barriosLocalidad.filasPorPagina < vm.barriosLocalidad.totalFilas">
                                <pagination items-per-page="vm.barriosLocalidad.filasPorPagina"
                                            total-items="vm.barriosLocalidad.totalFilas"
                                            ng-model="vm.barriosLocalidad.paginaActual"
                                            ng-change="vm.barriosLocalidad.pageChanged()"
                                            class="pagination-sm"></pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row" ng-show="vm.ingresandoOpcion || vm.editandoOpcion">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading" ng-class="'bg-' + app.theme.name">
                            <span ng-if="vm.ingresandoOpcion">@L("personas_preferenciasPersonales_nuevaOpcion")</span>
                            <span ng-if="!vm.ingresandoOpcion">@L("personas_preferenciasPersonales_editarOpcion") {{vm.nombreOpcionEditar | uppercase}}</span>
                        </div>
                        <div class="panel-body" ng-form="frmOpcion">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{'has-error' : frmOpcion.iptNombreOpcionPreferencia.$dirty && frmOpcion.iptNombreOpcionPreferencia.$invalid}">
                                        <label class="control-label" for="iptNombreOpcionPreferencia">@L("personas_preferenciaPesonal_nuevaOpcionPreferenciaText")</label>
                                        <input type="text" class="form-control" id="iptNombreOpcionPreferencia" name="iptNombreOpcionPreferencia" placeholder="@L("personas_preferenciaPesonal_nuevaOpcionPreferenciaText")" ng-model="vm.nuevaOpcion.nombre" required maxlength="80" />
                                        <div ng-show="frmOpcion.iptNombreOpcionPreferencia.$dirty && frmOpcion.iptNombreOpcionPreferencia.$invalid">
                                            <small ng-show="frmOpcion.iptNombreOpcionPreferencia.$error.required" class="text-danger">
                                                @L("personas_preferenciaPesonal_nuevaOpcionPreferenciaNombreRequerido")
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pull-right">
                                        <button class="btn btn-success btn-circle btn-lg" ng-click="vm.saveOrUpdateOpcion()" ng-disabled="frmOpcion.$invalid" title='@L("personas_preferenciaPersonal_registrarOpcion")'>
                                            <em class="fa fa-save"></em>
                                        </button>
                                        &nbsp;
                                        <button class="btn btn-warning btn-circle btn-lg" ng-click="vm.cancelarIngresoOpcion()" title='@L("zonificacion_parametrosLocalidad_barrio_cancelar_editar")'>
                                            <em class="fa fa-times"></em>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading" ng-class="'bg-' + app.theme.name">
                            {{vm.opcionesPreferencia.totalFilas}}@L("personas_preferenciasPersonales_cantidadOpciones")
                        </div>
                        <div class="panel-body">
                            <div class="row" ng-show="!(vm.ingresandoOpcion || vm.editandoOpcion)">
                                <div class="col-md-12 bow-padding-bottom-15">
                                    <button class="btn btn-success btn-circle btn-lg pull-right" ng-click="vm.ingresandoOpcion = !vm.ingresandoOpcion" title='@L("personas_preferenciaPersonal_nuevaOpcion")' ng-show="vm.preferenciaSeleccion">
                                        <em class="fa fa-plus"></em>
                                    </button>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr ng-repeat="opcion in vm.opcionesPreferencia.filasMostrar track by $index"
                                            ng-mouseenter="vm.controlesOpciones.mostrar($index)"
                                            ng-mouseleave="vm.controlesOpciones.ocultar($index)">
                                            <td>
                                                <h4>{{opcion.nombre}}</h4>
                                            </td>
                                            <td>
                                                <div class="pull-right" ng-show="vm.controlesOpciones.visible[$index] && !vm.editandoOpcion && !vm.ingresandoOpcion">
                                                    <button class="btn btn-success btn-circle btn-lg" ng-click="vm.editarOpcion(opcion)" ng-hide="vm.eliminandoOpcion" title='@L("personas_preferenciasPersonales_botonEditarOpcion")'>
                                                        <em class="fa fa-pencil"></em>
                                                    </button>
                                                    &nbsp;
                                                    <bow-operacion-eliminar-fila mensaje-confirmacion='@L("personas_preferenciasPersonales_eliminarOpcion_confirmacion")'
                                                                                 mensaje-tooltip='@L("personas_preferenciasPersonales_operacionEliminarOpcion_Tooltip")'
                                                                                 operacion-puede-eliminar="vm.puedeEliminarOpcion(opcion, funcionRetornarPuedeEliminar)"
                                                                                 no-puede-eliminar="vm.noPuedeEliminarOpcion()"
                                                                                 confirmacion-ok="vm.eliminarOpcionOk(opcion)"
                                                                                 confirmacion-cancel="vm.eliminarOpcionCancel()"
                                                                            </bow-operacion-eliminar-fila>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="pull-right" ng-show="vm.opcionesPreferencia.filasPorPagina < vm.opcionesPreferencia.totalFilas">
                                <pagination items-per-page="vm.opcionesPreferencia.filasPorPagina"
                                            total-items="vm.opcionesPreferencia.totalFilas"
                                            ng-model="vm.opcionesPreferencia.paginaActual"
                                            ng-change="vm.opcionesPreferencia.pageChanged()"
                                            class="pagination-sm"></pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>