<div class="app-container" ng-controller="app.views.parametro.parametro as vm">
    <div class="app-view-header page-header">
        @L("parametro_parametro_titulo")
        <small>@L("parametro_parametro_subTitulo")</small>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="row" ng-show="vm.ingresandoParametro || vm.editandoParametro">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading" ng-class="'bg-' + app.theme.name">
                            <span ng-if="!vm.editandoParametro">@L("parametro_parametro_nuevo")</span>
                            <span ng-if="vm.editandoParametro">@L("parametro_parametro_editar") {{vm.nombreParametroEditar | uppercase}}</span>
                        </div>
                        <div class="panel-body" ng-form="frmParametro">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" ng-class="{'has-error' : frmParametro.iptNombreParametro.$dirty && frmParametro.iptNombreParametro.$invalid}">
                                        <label class="control-label" for="iptNombreParametro">@L("parametro_parametro_modalNuevoParametro_nombreParametro")</label>
                                        <input type="text" class="form-control" id="iptNombreParametro" name="iptNombreParametro" placeholder="@L("parametro_parametro_modalNuevoParametro_nombreParametro")" ng-model="vm.nuevoParametro.nombre" required maxlength="80" />
                                        <div ng-show="frmParametro.iptNombreParametro.$dirty && frmParametro.iptNombreParametro.$invalid">
                                            <small ng-show="frmParametro.iptNombreParametro.$error.required" class="text-danger">
                                                @L("parametro_parametro_modalNuevoParametro_nombreParametroRequerido")
                                            </small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="iptDescripcionParametro">@L("parametro_parametro_modalNuevoParametro_descripcionParametro")</label>
                                        <textarea type="text" class="form-control" id="iptDescripcionParametro" name="iptDescripcionParametro" placeholder="@L("parametro_parametro_modalNuevoParametro_descripcionParametro")" ng-model="vm.nuevoParametro.descripcion" maxlength="300" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pull-right">
                                        <button class="btn btn-success btn-circle btn-lg" ng-click="vm.saveOrUpdateParametro()" ng-disabled="frmParametro.$invalid" title='@L("parametro_parametro_guardarParametro")'>
                                            <em class="fa fa-save"></em>
                                        </button>
                                        &nbsp;
                                        <button class="btn btn-warning btn-circle btn-lg" ng-click="vm.cancelarIngresoParametro()" title='@L("parametro_parametro_cancelarParametro")'>
                                            <em class="fa fa-times"></em>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading" ng-class="'bg-' + app.theme.name">
                            {{vm.parametros.totalFilas}} @L("parametro_parametro_cantidadParametros")
                        </div>
                        <div class="panel-body">
                            <div class="row" ng-show="!(vm.ingresandoParametro || vm.editandoParametro)">
                                <div class="col-md-12 bow-padding-bottom-15">
                                    <button class="btn btn-success btn-circle btn-lg pull-right" ng-click="vm.ingresandoParametro = !vm.ingresandoParametro" title='@L("parametro_parametro_agregarNuevoParametro")'>
                                        <em class="fa fa-plus"></em>
                                    </button>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr ng-repeat="parametro in vm.parametros.filasMostrar track by $index">
                                            <td>
                                                <a ui-sref="tiposestados({parametroId : parametro.id})">
                                                    <h4 class="media-heading">
                                                        <a class="clickable" ng-click="vm.consultarTiposEstados(parametro)"><h5>{{parametro.nombre}}</h5></a>
                                                    </h4>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="text-center">
                                    <pagination ng-show="vm.parametros.filasPorPagina < vm.parametros.totalFilas"
                                                items-per-page="vm.parametros.filasPorPagina"
                                                total-items="vm.parametros.totalFilas"
                                                ng-model="vm.parametros.paginaActual"
                                                ng-change="vm.parametros.pageChanged()"
                                                class="pagination-sm"></pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading" ng-class="'bg-' + app.theme.name">
                            @L("parametro_parametro_descripcionParametro")
                        </div>
                        <div class="panel-body">
                            <div class="row" ng-show="vm.parametroNombre > ''">
                                <div class="col-md-12 ">
                                    <div class="col-md-9">
                                        <div class="app-view-header page-header">
                                            {{vm.parametroNombre}}
                                            <small>{{vm.parametroDescripcion}}</small>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="pull-right" ng-show="!vm.editandoParametro">
                                            <button class="btn btn-success btn-circle btn-lg" ng-click="vm.editarParametro(vm.parametro)" ng-hide="vm.eliminandoParametro" title="@L("parametro_parametro_operacionEditarTooltip")">
                                                <em class="fa fa-pencil"></em>
                                            </button>
                                            &nbsp;
                                            <bow-operacion-eliminar-fila mensaje-confirmacion='@L("parametro_parametro_confirmacionEliminar")'
                                                                         mensaje-tooltip='@L("parametro_parametro_operacionEliminarTooltip")'
                                                                         operacion-puede-eliminar="vm.puedeEliminarParametro(vm.parametro, funcionRetornarPuedeEliminar)"
                                                                         no-puede-eliminar="vm.noPuedeEliminar()"
                                                                         confirmacion-ok="vm.eliminarParametroOk(vm.parametro)"
                                                                         confirmacion-cancel="vm.eliminarParametroCancel()">
                                            </bow-operacion-eliminar-fila>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="table-responsive" ng-show="vm.parametroNombre > ''">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-md-2 visible-sm visible-xs">
                                                <div class="row text-center text-muted m0">
                                                    <div class="col-xs-4 bb br pv-xxl clickable" ng-class="{'bg-info': vm.opcionParametro[0]}" ripple="" title='@L("parametro_parametro_estados")' ng-click="vm.opcionEstado()">
                                                        <em class="fa fa-tags fa-2x mv"></em>
                                                        <br />
                                                        <span style="font-size:8pt">@L("parametro_parametro_estados")</span>
                                                        <span class="ripple"></span>
                                                    </div>
                                                    <div class="col-xs-4 bb br pv-xxl clickable" ng-class="{'bg-purple': vm.opcionParametro[1]}" ripple="" title='@L("parametro_parametro_tipos")' ng-click="vm.opcionTipo()">
                                                        <em class="fa fa-archive fa-2x mv"></em>
                                                        <br />
                                                        @L("parametro_parametro_tipos")
                                                        <span class="ripple"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 hidden-sm hidden-xs">
                                                <div class="row row-flush text-center text-muted m0">
                                                    <div class="col-md-12 bb br pv-xxl clickable" ng-class="{'bg-info': vm.opcionParametro[0]}" ripple="" title='@L("parametro_parametro_estados")' ng-click="vm.opcionEstado()">
                                                        <em class="fa fa-tags fa-2x mv"></em>
                                                        <br />
                                                        @L("parametro_parametro_estados")
                                                        <span class="ripple"></span>
                                                    </div>
                                                </div>
                                                <div class="row row-flush text-center text-muted m0">
                                                    <div class="col-md-12 bb br pv-xxl clickable" ng-class="{'bg-purple': vm.opcionParametro[1]}" ripple="" title='@L("parametro_parametro_tipos")' ng-click="vm.opcionTipo()">
                                                        <em class="fa fa-archive fa-2x mv"></em>
                                                        <br />
                                                        @L("parametro_parametro_tipos")
                                                        <span class="ripple"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-10" ng-if="vm.opcionParametro[0]">
                                                <div class="p pv-xxl">
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <div class="panel panel-primary" ng-form="formEstadoParametro">
                                                                <div class="panel-heading bg-info">
                                                                    <span ng-if="!vm.editandoEstado">@L("parametro_parametro_estado_asignarEstado")</span>
                                                                    <span ng-if="vm.editandoEstado">@L("parametro_parametro_estado_editandoEstado")</span>
                                                                </div>
                                                                <div class="panel-body">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="form-group" ng-class="{'has-error' : formEstadoParametro.iptEstado.$dirty && formEstadoParametro.iptEstado.$invalid}">
                                                                                <label class="control-label" for="iptEstado">@L("parametro_estado_modalAsignarEstadoParametro_estadoNombre")</label>
                                                                                <select ng-model="vm.asignarEstado.estadoNombreId" ng-options="to.id as to.nombre for to in vm.nombresEstados " class="form-control" required ng-disabled="vm.disableEstadoNombre">
                                                                                    <option value="">@L("parametro_estado_modalAsignarEstadoParametro_seleccione")</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="form-group" ng-class="{'has-error' : formEstadoParametro.iptMotivo.$dirty && formEstadoParametro.iptMotivo.$invalid}">
                                                                                <label class="control-label" for="iptMotivo">@L("parametro_estado_modalAsignarEstadoParametro_motivoEstado")</label>
                                                                                <input type="text" class="form-control" id="iptMotivo" name="iptMotivo" placeholder="@L("parametro_estado_modalAsignarEstadoParametro_motivoEstado")" ng-model="vm.asignarEstado.motivo" required maxlength="50" />
                                                                                <div ng-show="formEstadoParametro.iptMotivo.$dirty && formEstadoParametro.iptMotivo.$invalid">
                                                                                    <small ng-show="formEstadoParametro.iptMotivo.$error.required" class="text-danger">
                                                                                        @L("parametro_estado_modalAsignarEstadoParametro_motivoEstadoRequerido")
                                                                                    </small>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="pull-right">
                                                                                <button class="btn btn-success btn-circle btn-lg" ng-click="vm.saveOrUpdateNombreEstado(formEstadoParametro)" ng-disabled="formEstadoParametro.$invalid">
                                                                                    <em class="fa fa-save"></em>
                                                                                </button>
                                                                                &nbsp;
                                                                                <button class="btn btn-warning btn-circle btn-lg" ng-click="vm.cancelarUpdateNombreEstado(formEstadoParametro)">
                                                                                    <em class="fa" ng-class="{'fa-ban': vm.editandoEstado, 'fa-eraser': !vm.editandoEstado}"></em>
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <a ng-click="vm.abrirModalNuevoNombreEstado()" class="clickable pull-right">
                                                                        <span class="h4">
                                                                            @L("parametro_parametro_estado_agregarNuevoEstado")<em class="fa fa-chevron-right"></em>
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-7">
                                                            <div class="panel panel-primary">
                                                                <div class="panel-heading bg-info">
                                                                    {{vm.estadosParametro.totalFilas}} @L("parametro_parametro_estado_estadosAsignados")
                                                                </div>
                                                                <div class="panel-body">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="table-responsive">
                                                                                <table class="table table-hover">
                                                                                    <tbody>
                                                                                        <tr ng-repeat="estado in vm.estadosParametro.filasMostrar track by $index"
                                                                                            ng-mouseenter="vm.controlesEstados.mostrar($index)"
                                                                                            ng-mouseleave="vm.controlesEstados.ocultar($index)">
                                                                                            <td>
                                                                                                <h4 class="media-heading">
                                                                                                    <strong>{{estado.estadoNombreNombre}} ({{estado.estadoNombreAbreviacion}})</strong>
                                                                                                </h4>
                                                                                                <span class="text-muted">
                                                                                                    {{estado.motivo}}
                                                                                                </span>
                                                                                            </td>
                                                                                            <td class="text-center">
                                                                                                <div class="pull-right" ng-show="vm.controlesEstados.visible[$index] && !vm.editandoEstado">
                                                                                                    <button class="btn btn-success btn-circle btn-lg" ng-click="vm.editarEstado(estado)" ng-hide="vm.eliminandoEstado" title="@L("parametro_parametro_estado_editarEstado")">
                                                                                                        <em class="fa fa-pencil"></em>
                                                                                                    </button>
                                                                                                    &nbsp;
                                                                                                    <bow-operacion-eliminar-fila mensaje-confirmacion='@L("parametro_parametro_estado_confirmacionEliminar")'
                                                                                                                                 mensaje-tooltip='@L("parametro_parametro_estado_eliminarEstado")'
                                                                                                                                 operacion-puede-eliminar="vm.puedeEliminarEstado(estado.id, funcionRetornarPuedeEliminar)"
                                                                                                                                 no-puede-eliminar="vm.noPuedeEliminarEstado()"
                                                                                                                                 confirmacion-ok="vm.eliminarEstadoOk(estado)"
                                                                                                                                 confirmacion-cancel="vm.eliminarEstadoCancel()">
                                                                                                    </bow-operacion-eliminar-fila>
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                                <div class="text-center">
                                                                                    <pagination ng-show="vm.estadosParametro.filasPorPagina < vm.estadosParametro.totalFilas"
                                                                                                items-per-page="vm.estadosParametro.filasPorPagina"
                                                                                                total-items="vm.estadosParametro.totalFilas"
                                                                                                ng-model="vm.estadosParametro.paginaActual"
                                                                                                ng-change="vm.estadosParametro.pageChanged()"
                                                                                                class="pagination-sm"></pagination>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-10" ng-if="vm.opcionParametro[1]">
                                                <div class="p pv-xxl">
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <div class="panel panel-primary" ng-form="formTipoParametro">
                                                                <div class="panel-heading bg-purple">
                                                                    <span ng-if="!vm.editandoTipo">@L("parametro_parametro_tipo_registrarNuevoTipo")</span>
                                                                    <span ng-if="vm.editandoTipo">@L("parametro_parametro_tipo_editandoTipo")</span>
                                                                </div>
                                                                <div class="panel-body">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="form-group" ng-class="{'has-error' : formTipoParametro.iptNombreTipo.$dirty && formTipoParametro.iptNombreTipo.$invalid}">
                                                                                <label class="control-label" for="iptNombreTipo">@L("parametro_tipo_modalNuevoTipo_nombreTipo")</label>
                                                                                <input type="text" class="form-control" id="iptNombreTipo" name="iptNombreTipo" placeholder="@L("parametro_tipo_modalNuevoTipo_nombreTipo")" ng-model="vm.nuevoTipo.nombre" required maxlength="100" />
                                                                                <div ng-show="formTipoParametro.iptNombreTipo.$dirty && formTipoParametro.iptNombreTipo.$invalid">
                                                                                    <small ng-show="formTipoParametro.iptNombreTipo.$error.required" class="text-danger">
                                                                                        @L("parametro_tipo_modalNuevoTipo_nombreTipoRequerido")
                                                                                    </small>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="control-label" for="iptDescripcionTipo">@L("parametro_tipo_modalNuevoTipo_descripcionTipo")</label>
                                                                                <textarea type="text" class="form-control" id="iptDescripcionTipo" name="iptDescripcionTipo" placeholder="@L("parametro_tipo_modalNuevoTipo_descripcionTipo")" ng-model="vm.nuevoTipo.descripcion" maxlength="300" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="pull-right">
                                                                                <button class="btn btn-success btn-circle btn-lg" ng-click="vm.saveOrUpdateTipo(formTipoParametro)" ng-disabled="formTipoParametro.$invalid">
                                                                                    <em class="fa fa-save"></em>
                                                                                </button>
                                                                                &nbsp;
                                                                                <button class="btn btn-warning btn-circle btn-lg" ng-click="vm.cancelarUpdateTipo(formTipoParametro)">
                                                                                    <em class="fa" ng-class="{'fa-ban': vm.editandoTipo, 'fa-eraser': !vm.editandoTipo}"></em>
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-7">
                                                            <div class="panel panel-primary">
                                                                <div class="panel-heading bg-purple">
                                                                    {{vm.tiposParametro.totalFilas}} @L("parametro_parametro_tipo_tiposAsignados")
                                                                </div>
                                                                <div class="panel-body">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="table-responsive">
                                                                                <table class="table table-hover">
                                                                                    <tbody>
                                                                                        <tr ng-repeat="tipo in vm.tiposParametro.filasMostrar track by $index"
                                                                                            ng-mouseenter="vm.controlesTipos.mostrar($index)"
                                                                                            ng-mouseleave="vm.controlesTipos.ocultar($index)">
                                                                                            <td>
                                                                                                <h4 class="media-heading">
                                                                                                    <strong>{{tipo.nombre}}</strong>
                                                                                                </h4>
                                                                                                <span class="text-muted">
                                                                                                    {{tipo.descripcion}}
                                                                                                </span>
                                                                                            </td>
                                                                                            <td class="text-center">
                                                                                                <div class="pull-right" ng-show="vm.controlesTipos.visible[$index] && !vm.editandoTipo">
                                                                                                    <button class="btn btn-success btn-circle btn-lg" ng-click="vm.editarTipo(tipo)" ng-hide="vm.eliminandoTipo" title="@L("parametro_parametro_tipo_editarTipo")">
                                                                                                        <em class="fa fa-pencil"></em>
                                                                                                    </button>
                                                                                                    &nbsp;
                                                                                                    <bow-operacion-eliminar-fila mensaje-confirmacion='@L("parametro_parametro_tipo_confirmacionEliminar")'
                                                                                                                                 mensaje-tooltip='@L("parametro_parametro_tipo_eliminarTipo")'
                                                                                                                                 operacion-puede-eliminar="vm.puedeEliminarTipo(tipo.id, funcionRetornarPuedeEliminar)"
                                                                                                                                 no-puede-eliminar="vm.noPuedeEliminarTipo()"
                                                                                                                                 confirmacion-ok="vm.eliminarTipoOk(tipo)"
                                                                                                                                 confirmacion-cancel="vm.eliminarTipoCancel()">
                                                                                                    </bow-operacion-eliminar-fila>
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                                <div class="text-center">
                                                                                    <pagination ng-show="vm.tiposParametro.filasPorPagina < vm.tiposParametro.totalFilas"
                                                                                                items-per-page="vm.tiposParametro.filasPorPagina"
                                                                                                total-items="vm.tiposParametro.totalFilas"
                                                                                                ng-model="vm.tiposParametro.paginaActual"
                                                                                                ng-change="vm.tiposParametro.pageChanged()"
                                                                                                class="pagination-sm"></pagination>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


