<div class="app-container" ng-controller="app.views.personas.tiposDocumento as vm">
    <div class="app-view-header page-header">
        <div class="col-md-6">
            @L("personas_tiposDocumento_titulo")
        </div>
        <div class="col-md-6 text-right">
            <small><a ui-sref="pais">@L("personas_tiposDocumento_adminPaises") <i class="fa fa-globe"></i></a></small>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading" ng-class="'bg-' + app.theme.name">
                    <span ng-if="!vm.editandoDocumento">@L("personas_tiposDocumento_nuevo_titulo")</span>
                    <span ng-if="vm.editandoDocumento">@L("personas_tiposDocumento_editar_titulo") {{vm.tipoDocumento.nombreDocumentoEditar | uppercase}}</span>
                </div>
                <div class="panel-body" ng-form="frmTipoDocumento">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group" ng-class="{'has-error' : frmTipoDocumento.iptNombreTipoDocumento.$dirty && frmTipoDocumento.iptNombreTipoDocumento.$invalid}">
                                <label class="control-label" for="iptNombreTipoDocumento">@L("personas_tiposDocumento_nuevo_nombreTipo")</label>
                                <input type="text" class="form-control" id="iptNombreTipoDocumento" name="iptNombreTipoDocumento" ng-model="vm.tipoDocumento.nombre" required maxlength="30" placeholder="@L("personas_tiposDocumento_nuevo_nombreTipo")" />
                                <div ng-show="frmTipoDocumento.iptNombreTipoDocumento.$dirty && frmTipoDocumento.iptNombreTipoDocumento.$invalid">
                                    <small ng-show="frmTipoDocumento.iptNombreTipoDocumento.$error.required" class="text-danger">
                                        @L("personas_tiposDocumento_nuevo_nombreTipoRequerido")
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <bow-buscar-pais titulo=@L("personas_tiposDocumento_pais") selecciono-pais="vm.seleccionoPais(pais)" ng-model="vm.tipoDocumento.paisSelected"></bow-buscar-pais>
                        </div>
                        <div class="col-lg-6">
                            <label class="control-label" for="iptNombreTipoDocumento">@L("personas_tiposDocumento_nuevo_formato")</label>
                            <div class="form-group">
                                <div class="radio c-radio">
                                    <label>
                                        <input type="radio" name="tipoFormato" value="N" checked="checked" ng-model="vm.tipoDocumento.conjuntoCaracteres">
                                        <span class="fa fa-check"></span>@L("personas_tiposDocumento_nuevo_formatoNumerico")
                                    </label>
                                </div>
                                <div class="radio c-radio">
                                    <label>
                                        <input type="radio" name="tipoFormato" value="A" checked="checked" ng-model="vm.tipoDocumento.conjuntoCaracteres">
                                        <span class="fa fa-check"></span>@L("personas_tiposDocumento_nuevo_formatoAlfanumerico")
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label class="control-label">@L("personas_tiposDocumento_nuevo_longitudMinima")</label>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group" ng-class="{'has-error' : frmTipoDocumento.iptLongitudMinimaTipoDocumento.$dirty && frmTipoDocumento.iptLongitudMinimaTipoDocumento.$invalid}">
                                <label class="control-label" for="iptLongitudMinimaTipoDocumento">@L("personas_tiposDocumento_nuevo_longitudMinima_nombre")</label>
                                <input type="text" ng-pattern="/^[0-9]+$/" class="form-control" id="iptLongitudMinimaTipoDocumento" name="iptLongitudMinimaTipoDocumento" ng-model="vm.tipoDocumento.longitudMinima" required maxlength="2" placeholder="@L("personas_tiposDocumento_nuevo_longitudMinima_placeholder")" />
                                <div ng-show="frmTipoDocumento.iptNombreTipoDocumento.$dirty && frmTipoDocumento.iptNombreTipoDocumento.$invalid">
                                    <small ng-show="frmTipoDocumento.iptNombreTipoDocumento.$error.required" class="text-danger">
                                        @L("personas_tiposDocumento_nuevo_longitudMinimaRequerida")
                                    </small>
                                    <small ng-show="frmTipoDocumento.iptLongitudMinimaTipoDocumento.$error.pattern" class="text-danger">
                                        @L("personas_tiposDocumento_nuevo_longitudMinimaNumero")
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group" ng-class="{'has-error' : frmTipoDocumento.iptLongitudMaximaTipoDocumento.$dirty && frmTipoDocumento.iptLongitudMaximaTipoDocumento.$invalid}">
                                <label class="control-label" for="iptLongitudMaximaTipoDocumento">@L("personas_tiposDocumento_nuevo_longitudMaxima_nombre")</label>
                                <input type="text" ng-pattern="/^[0-9]+$/" class="form-control" id="iptLongitudMaximaTipoDocumento" name="iptLongitudMaximaTipoDocumento" ng-model="vm.tipoDocumento.longitudMaxima" required maxlength="2" placeholder="@L("personas_tiposDocumento_nuevo_longitudMaxima_placeholder")" />
                                <div ng-show="frmTipoDocumento.iptLongitudMaximaTipoDocumento.$dirty && frmTipoDocumento.iptLongitudMaximaTipoDocumento.$invalid">
                                    <small ng-show="frmTipoDocumento.iptLongitudMaximaTipoDocumento.$error.required" class="text-danger">
                                        @L("personas_tiposDocumento_nuevo_longitudMaximaRequerida")
                                    </small>
                                    <small ng-show="frmTipoDocumento.iptLongitudMaximaTipoDocumento.$error.pattern" class="text-danger">
                                        @L("personas_tiposDocumento_nuevo_longitudMaximaNumero")
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label class="control-label">@L("personas_tiposDocumento_nuevo_edadAplicable")</label>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group" ng-class="{'has-error' : frmTipoDocumento.iptEdadMinimaTipoDocumento.$dirty && frmTipoDocumento.iptEdadMinimaTipoDocumento.$invalid}">
                                <label class="control-label" for="iptEdadMinimaTipoDocumento">@L("personas_tiposDocumento_nuevo_edadMinima")</label>
                                <input type="text" ng-pattern="/^[0-9]+$/" class="form-control" id="iptEdadMinimaTipoDocumento" name="iptEdadMinimaTipoDocumento" ng-model="vm.tipoDocumento.edadMinima" maxlength="4" placeholder="@L("personas_tiposDocumento_nuevo_edadMinima_placeholder")" />
                                <div ng-show="frmTipoDocumento.iptNombreTipoDocumento.$dirty && frmTipoDocumento.iptNombreTipoDocumento.$invalid">
                                    <small ng-show="modalTipoDocumento.iptEdadMinimaTipoDocumento.$error.pattern" class="text-danger">
                                        @L("personas_tiposDocumento_nuevo_edadMinimaNumero")
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group" ng-class="{'has-error' : frmTipoDocumento.iptEdadMaximaTipoDocumento.$dirty && frmTipoDocumento.iptEdadMaximaTipoDocumento.$invalid}">
                                <label class="control-label" for="iptEdadMaximaTipoDocumento">@L("personas_tiposDocumento_nuevo_edadMaxima")</label>
                                <input type="text" ng-pattern="/^[0-9]+$/" class="form-control" id="iptEdadMaximaTipoDocumento" name="iptEdadMaximaTipoDocumento" ng-model="vm.tipoDocumento.edadMaxima" maxlength="4" placeholder="@L("personas_tiposDocumento_nuevo_edadMaxima_placeholder")" />
                                <div ng-show="frmTipoDocumento.iptEdadMaximaTipoDocumento.$dirty && frmTipoDocumento.iptEdadMaximaTipoDocumento.$invalid">
                                    <small ng-show="modalTipoDocumento.iptEdadMaximaTipoDocumento.$error.pattern" class="text-danger">
                                        @L("personas_tiposDocumento_nuevo_edadMaximaNumero")
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="checkbox c-checkbox">
                                <label>
                                    <input type="checkbox" checked="checked" ng-model="vm.tipoDocumento.default">
                                    <span class="fa fa-check"></span>@L("personas_tiposDocumento_nuevo_tipoPorDefecto")
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="checkbox c-checkbox">
                                    <label>
                                        <input type="checkbox" name="tipoFormato" checked="checked" ng-model="vm.tipoDocumento.aplicaEmpresa">
                                        <span class="fa fa-check"></span>@L("personas_tiposDocumento_nuevo_aplicaEmpresa")
                                    </label>
                                </div>
                                <div class="checkbox c-checkbox">
                                    <label>
                                        <input type="checkbox" name="tipoFormato" checked="checked" ng-model="vm.tipoDocumento.aplicaPersona">
                                        <span class="fa fa-check"></span>@L("personas_tiposDocumento_nuevo_aplicaPersona")
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button class="btn btn-success btn-circle btn-lg" ng-click="vm.saveOrUpdateTipoDocumento()" ng-disabled="frmTipoDocumento.$invalid" title="@L("personas_tiposDocumento_nuevo_btnGuardar")">
                                    <em class="fa fa-save"></em>
                                </button>
                                &nbsp;
                                <button class="btn btn-warning btn-circle btn-lg" ng-click="vm.cancelarUpdateDocumento()" title="@L("personas_tiposDocumento_nuevo_btnCancelar")">
                                    <em class="fa" ng-class="{'fa-ban': vm.editandoDocumento, 'fa-eraser': !vm.editandoDocumento}"></em>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="panel panel-primary">
                <div class="panel-heading text-center" ng-class="'bg-' + app.theme.name">
                    <span ng-if="vm.tiposDocumento.length == 1">{{vm.tiposDocumento.length}}&nbsp;@L("personas_tiposDocumento_cantidad_1tipo")</span>
                    <span ng-if="vm.tiposDocumento.length != 1">{{vm.tiposDocumento.length}}&nbsp;@L("personas_tiposDocumento_cantidadTipos")</span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <input type="text" class="form-control" ng-model="filtroDocumentos" placeholder="@L("personas_tiposDocumento_filtrar_documentos")">
                                </div>
                                <div class="col-md-3">
                                    <i class="fa fa-check-square-o fa-2x" ng-class="'text-' + app.theme.name" aria-hidden="true" title="@L("personas_tiposDocumento_tabla_defecto_tooltip")"></i>&nbsp;&nbsp; @L("personas_tiposDocumento_tabla_defecto")
                                </div>
                                <div class="col-md-3">
                                    <i class="fa fa-briefcase fa-2x" ng-class="'text-' + app.theme.name" aria-hidden="true" title="@L("personas_tiposDocumento_tabla_aplicaEmpresas_tooltip")"></i>&nbsp;&nbsp; @L("personas_tiposDocumento_tabla_aplicaEmpresas")
                                </div>
                                <div class="col-md-3">
                                    <i class="fa fa-user fa-2x" ng-class="'text-' + app.theme.name" aria-hidden="true" title="@L("personas_tiposDocumento_tabla_aplicaPersonas_tooltip")"></i>&nbsp;&nbsp; @L("personas_tiposDocumento_tabla_aplicaPersonas")
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr ng-repeat="tipoDocumento in vm.tiposDocumento | filter:filtroDocumentos"
                                            ng-mouseenter="vm.controles.mostrar($index)"
                                            ng-mouseleave="vm.controles.ocultar($index)">
                                            <td>
                                                <h4 class="media-heading">
                                                    {{tipoDocumento.nombre}}
                                                </h4>
                                                <span class="text-muted">
                                                    <span class="text-bold" ng-class="'text-' + app.theme.name">{{tipoDocumento.paisNombre}}</span> -
                                                    <span ng-show="tipoDocumento.conjuntoCaracteres == 'N'">
                                                        @L("personas_tiposDocumento_formato_soloNumeros")
                                                    </span>
                                                    <span ng-show="tipoDocumento.conjuntoCaracteres == 'A'">
                                                        @L("personas_tiposDocumento_formato_letrasNumeros")
                                                    </span>
                                                </span>
                                            </td>
                                            <td class="text-center">
                                                <span class="text-bold" ng-class="'text-' + app.theme.name">@L("personas_tiposDocumento_tablaLongitud") </span>
                                                {{tipoDocumento.longitudMinima}} - {{tipoDocumento.longitudMaxima}} @L("personas_tiposDocumento_tabla_caracteres")
                                            </td>
                                            <td class="text-center">
                                                <span class="text-bold" ng-class="'text-' + app.theme.name" ng-if="tipoDocumento.edadMinima != null || tipoDocumento.edadMaxima != null">@L("personas_tiposDocumento_tablaEdades") </span>
                                                <span ng-show="tipoDocumento.edadMinima != null">@L("personas_tiposDocumento_tabla_min") {{tipoDocumento.edadMinima}}</span>&nbsp;-&nbsp;<span ng-show="tipoDocumento.edadMaxima != null">@L("personas_tiposDocumento_tabla_max") {{tipoDocumento.edadMaxima}}</span>
                                            </td>
                                            <td class="text-center">
                                                <i class="fa fa-check-square-o fa-2x" ng-class="'text-' + app.theme.name" ng-show="tipoDocumento.default == 1" aria-hidden="true" title="@L("personas_tiposDocumento_tabla_defecto_lista") {{tipoDocumento.paisNombre}}"></i>
                                            </td>
                                            <td class="text-right">
                                                <i class="fa fa-briefcase fa-2x" ng-class="'text-' + app.theme.name" ng-show="tipoDocumento.aplicaEmpresa == 1" aria-hidden="true" title="@L("personas_tiposDocumento_tabla_aplicaEmpresas_lista")"></i>
                                                <span ng-if="tipoDocumento.aplicaEmpresa == 1 && tipoDocumento.aplicaPersona == 1">&nbsp;&nbsp;</span>
                                                <i class="fa fa-user fa-2x" ng-class="'text-' + app.theme.name" ng-show="tipoDocumento.aplicaPersona == 1" aria-hidden="true" title="@L("personas_tiposDocumento_tabla_aplicaPersonas_lista")"></i>
                                            </td>
                                            <td class="text-center">
                                                <span ng-show="vm.controles.visible[$index]" class="pull-right">
                                                    <bow-operacion-editar-fila operacion-editar="vm.editarTipoDocumento(tipoDocumento.id)"
                                                                               mensaje-tooltip="@L("personas_tiposDocumento_tablaEditarTooltip")"
                                                                               ng-show="!vm.eliminadoDocumento">
                                                    </bow-operacion-editar-fila>
                                                    <bow-operacion-eliminar-fila mensaje-confirmacion="@L("personas_tiposDocumento_modalEliminarTipo_confirmacion")"
                                                                                 mensaje-tooltip="@L("personas_tiposDocumento_tablaEliminarTooltip")"
                                                                                 operacion-puede-eliminar="vm.puedeEliminarTipoDocumento(tipoDocumento.id, funcionRetornarPuedeEliminar)"
                                                                                 no-puede-eliminar="vm.noPuedeEliminar()"
                                                                                 confirmacion-ok="vm.eliminarTipoDocumento(tipoDocumento.id)"
                                                                                 confirmacion-cancel="vm.cancelarEliminar()">
                                                    </bow-operacion-eliminar-fila>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>