<div class="app-container" ng-controller="app.views.zonificacion.zona as vm">
    <div class="app-view-header page-header">
        @L("zonificacion_zonas_titulo"){{vm.zona.nombre}}
        <a class="pull-right" ui-sref="zonificacionLocalidad({departamentoId:vm.zona.departamentoId})">@L("zonificacion_zona_listaLocalidades")<i class="fa fa-chevron-left font-size-16"></i></a>
    </div>
    <div ng-show="!vm.mostrarBarriosEmpleadosZona">
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading" ng-class="'bg-' + app.theme.name">
                    <span ng-if="!vm.editandoZona">@L("zonificacion_zona_nuevaZona")</span>
                    <span ng-if="vm.editandoZona">@L("zonificacion_zona_editar") {{vm.nombreZonaEditar | uppercase}}</span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12" ng-form="frmZona">
                            <div class="form-group" ng-class="{'has-error' : frmZona.iptNombreZona.$dirty && frmZona.iptNombreZona.$invalid}">
                                <h4 class="media-heading">
                                    <label class="control-label" for="iptNombreZona">@L("zonificacion_zona_modalNuevaZona_nombreZona")</label>
                                </h4>
                                <input type="text" class="form-control" id="iptNombreZona" name="iptNombreZona" placeholder="@L("zonificacion_zona_modalNuevaZona_nombreZona")" ng-model="vm.nuevaZona.nombre" required maxlength="25" />
                                <div ng-show="frmZona.iptNombreZona.$dirty && frmZona.iptNombreZona.$invalid">
                                    <small ng-show="frmZona.iptNombreZona.$error.required" class="text-danger">
                                        @L("zonificacion_zona_modalNuevaZona_nombreZonaRequerido")
                                    </small>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error' : frmZona.iptTipo.$dirty && frmZona.iptTipo.$invalid}">
                                <h4 class="media-heading">
                                    <label class="control-label" for="iptTipo">@L("zonificacion_zona_modalNuevaZona_tipoZona")</label>
                                </h4>
                                <select ng-model="vm.nuevaZona.tipoId" ng-options="to.id as to.nombre for to in vm.tipos " class="form-control" name="selectTipos" required>
                                    <option value="">@L("zonificacion_zona_modalNuevaZona_seleccione")</option>
                                </select>
                            </div>
                        </div>
                        <div class="panel-body">
                            <h4 class="media-heading">
                                <label class="control-label" for="iptDescripcionZona">@L("zonificacion_zona_modalNuevaZona_descripcionZona")</label>
                            </h4>
                            <textarea type="text" class="form-control" id="iptDescripcionZona" name="iptDescripcionZona" placeholder=@L("zonificacion_zona_modalNuevaZona_descripcionZonaHolder") ng-model="vm.nuevaZona.descripcion" required maxlength="100" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button class="btn btn-success btn-circle btn-lg" ng-click="vm.saveOrUpdateZona()" ng-disabled="frmZona.$invalid">
                                    <em class="fa fa-save"></em>
                                </button>
                                &nbsp;
                                <button class="btn btn-warning btn-circle btn-lg" ng-click="vm.cancelarUpdateZona()">
                                    <em class="fa" ng-class="{'fa-ban': vm.editandoZona, 'fa-eraser': !vm.editandoZona}"></em>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="panel panel-primary">
                <div class="panel-heading" ng-class="'bg-' + app.theme.name">
                    {{vm.zonas.length}} @L("zonificacion_zona_cantidadZonas")
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr ng-repeat="zona in vm.zonas"
                                            ng-mouseenter="vm.controles.mostrar($index)"
                                            ng-mouseleave="vm.controles.ocultar($index)">
                                            <td height="75">
                                                <h4 class="media-heading">
                                                    {{zona.nombre}}
                                                </h4>
                                                <span class="text-muted">
                                                    {{zona.tipo}}
                                                </span>
                                            </td>
                                            <td>
                                                <span class="clickable text-muted" ng-click="vm.gestionarBarriosZona(zona)" popover="{{zona.zonasBarrios}}" popover-trigger="mouseenter">
                                                    {{zona.cantidadBarrios}} @L("zonificacion_zona_operacionBarrios") -
                                                </span>
                                                <span class="clickable text-muted" ng-click="vm.gestionarEmpleadosZona(zona)">
                                                    {{zona.cantidadEmpleados}} @L("zonificacion_zona_operacionEmpleados")
                                                </span>
                                            </td>
                                            <td width="300">
                                                <div class="pull-right" ng-show="vm.controles.visible[$index] && !vm.editandoZona">
                                                    <button class="btn btn-info btn-circle btn-lg" ng-hide="vm.eliminandoZona" ng-click="vm.gestionarBarriosZona(zona)" title="{{zona.cantidadBarrios}} @L("zonificacion_zona_operacionBarrios")">
                                                        <em class="fa fa-home"></em>
                                                    </button>
                                                    &nbsp;
                                                    <a ng-click="vm.abrirModalEmpleados(zona.id)">
                                                        <button class="btn btn-info btn-circle btn-lg" ng-hide="vm.eliminandoZona" ng-click="vm.gestionarEmpleadosZona(zona)" title="{{zona.cantidadEmpleados}} @L("zonificacion_zona_operacionEmpleados")">
                                                            <em class="fa fa-male"></em>
                                                        </button>
                                                    </a>
                                                    &nbsp;
                                                    <button class="btn btn-success btn-circle btn-lg" ng-click="vm.editarZona(zona)" ng-hide="vm.eliminandoZona" title="@L("zonificacion_zona_operacionEditarTooltip")">
                                                        <em class="fa fa-pencil"></em>
                                                    </button>
                                                    &nbsp;
                                                    <bow-operacion-eliminar-fila mensaje-confirmacion='@L("zonificacion_zona_eliminarZona_confirmacion")'
                                                                                 mensaje-tooltip='@L("zonificacion_zona_operacionEliminarTooltip")'
                                                                                 operacion-puede-eliminar="vm.puedeEliminarZona(zona.id, funcionRetornarPuedeEliminar)"
                                                                                 no-puede-eliminar="vm.noPuedeEliminar()"
                                                                                 confirmacion-ok="vm.eliminarZonaOk(zona)"
                                                                                 confirmacion-cancel="vm.eliminarZonaCancel()">
                                                    </bow-operacion-eliminar-fila>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="text-center">
                                    <pagination ng-show="vm.localidades.filasPorPagina < vm.localidades.totalFilas" items-per-page="vm.localidades.filasPorPagina"
                                                total-items="vm.localidades.totalFilas"
                                                ng-model="vm.localidades.paginaActual"
                                                ng-change="vm.localidades.pageChanged()"
                                                class="pagination-sm"></pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="vm.mostrarBarriosEmpleadosZona">
        <div ng-show="vm.mostrarFormularios">
            <div class="app-view-header page-header">
                @L("zonificacion_zona_barrios_barriosDe")Barrios de {{vm.zonaNombre}}
                <a class="clickable pull-right" ng-click="vm.regresarZona()">@L("zonificacion_zona_barrios_listaZonas")<i class="fa fa-chevron-left font-size-16"></i></a>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading" ng-class="'bg-' + app.theme.name">
                        @L("zonificacion_zona_barrios_asignarBarriosZona")
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <select ng-model="vm.barrioId" ng-options="to.id as to.barrioNombre for to in vm.barriosDisponibles" class="form-control" name="selectBarriosDisponibles" id="selectBarriosDisponibles">
                                        <option value="">@L("zonificacion_zona_seleccione")</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button class="btn btn-success btn-circle btn-lg" ng-click="vm.asignarBarrioZona()" ng-disabled="!vm.barrioId" title="@L("zonificacion_zona_barrios_asignarBarrio")">
                                        <em class="fa fa-save"></em>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="panel panel-primary">
                    <div class="panel-heading" ng-class="'bg-' + app.theme.name">
                        {{vm.barriosZona.totalFilas}} @L("zonificacion_zona_barrios_barriosRegistrados")
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr ng-repeat="barrio in vm.barriosZona.filasMostrar track by $index"
                                                ng-mouseenter="vm.controlesBarrios.mostrar($index)"
                                                ng-mouseleave="vm.controlesBarrios.ocultar($index)">
                                                <td>
                                                    <h4 class="media-heading">
                                                        {{barrio.barrioNombre}}
                                                    </h4>
                                                </td>
                                                <td>
                                                    <div class="pull-right" ng-show="vm.controlesBarrios.visible[$index]">
                                                        <bow-operacion-eliminar-fila mensaje-confirmacion='@L("zonificacion_zona_barrios_confirmacion")'
                                                                                     mensaje-tooltip='@L("zonificacion_zona_barrios_operacionEliminarTooltip")'
                                                                                     operacion-puede-eliminar="vm.puedeEliminarBarrio(barrio.id, funcionRetornarPuedeEliminar)"
                                                                                     no-puede-eliminar="vm.noPuedeEliminar()"
                                                                                     confirmacion-ok="vm.eliminarBarrioOk(barrio)"
                                                                                     confirmacion-cancel="vm.eliminarBarrioCancel()">
                                                        </bow-operacion-eliminar-fila>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="text-center">
                                        <pagination ng-show="vm.barriosZona.filasPorPagina < vm.barriosZona.totalFilas" items-per-page="vm.barriosZona.filasPorPagina"
                                                    total-items="vm.barriosZona.totalFilas"
                                                    ng-model="vm.barriosZona.paginaActual"
                                                    ng-change="vm.barriosZona.pageChanged()"
                                                    class="pagination-sm"></pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="!vm.mostrarFormularios">
            <div class="app-view-header page-header">
                @L("zonificacion_zona_barrios_empleadosDe") {{vm.zonaNombre}}
                <a class="clickable pull-right" ng-click="vm.regresarZona()">@L("zonificacion_zona_barrios_listaZonas")<i class="fa fa-chevron-left font-size-16"></i></a>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading" ng-class="'bg-' + app.theme.name">
                        <span ng-if="!vm.editandoEmpleado">@L("zonificacion_zona_empleados_asignarEmpleadoZona")</span>
                        <span ng-if="vm.editandoEmpleado">@L("zonificacion_zona_empleados_editandoEmpleado"){{vm.nombreEmpleadoEditar | uppercase}}</span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12" ng-form="frmEmpleado">
                                <div>
                                    <h4 class="media-heading">
                                        <fieldset ng-disabled="vm.disableEmpleado">
                                            <bow-buscar-empleado-typeahead ng-model="vm.empleado"
                                                                           requerido="true"
                                                                           titulolabel='Empleado'
                                                                           tituloplaceholder='Buscar empleado'
                                                                           bow-selecciono-empleado="vm.fechaAsignacion(empleado)"
                                                                           control-operaciones="vm.controlOperacionesEmpleado">
                                            </bow-buscar-empleado-typeahead>
                                        </fieldset>
                                    </h4>
                                </div>
                                <div class="form-group">
                                    <h4 class="media-heading">
                                        <label class="control-label" for="iptTipo">@L("zonificacion_zona_modalGestionarEmpleados_lblRol")</label>
                                    </h4>
                                    <select ng-model="vm.nuevoEmpleado.tipoId" ng-options="to.id as to.nombre for to in vm.roles" class="form-control" required>
                                        <option value="">@L("zonificacion_zona_seleccione")</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <h4 class="media-heading">
                                        <label class="control-label" for="iptFechaAsignacion">@L("zonificacion_zona_modalGestionarEmpleados_lblFechaInicio")</label>
                                    </h4>
                                    <p class="input-group">
                                        <input type="text"
                                               class="form-control"
                                               id="iptFechaAsignacion"
                                               name="iptFechaAsignacion"
                                               ng-disabled="vm.disableFechaAsignacion"
                                               ng-model="vm.nuevoEmpleado.fechaAsignacion"
                                               close-text="Close"
                                               datepicker-popup="{{vm.configuracionFechaAsignacion.format}}"
                                               is-open="vm.configuracionFechaAsignacion.opciones.opened"
                                               min-date="vm.configuracionFechaAsignacion.opciones.minDate"
                                               max-date="vm.configuracionFechaAsignacion.opciones.maxDate"
                                               datepicker-options="vm.configuracionFechaAsignacion.opciones"
                                               required />
                                        <span class="input-group-btn">
                                            <button ng-disabled="vm.disableFechaAsignacion" type="button" class="btn btn-default" ng-click="vm.configuracionFechaAsignacion.open($event)">
                                                <em class="fa fa-calendar"></em>
                                            </button>
                                        </span>
                                    </p>

                                </div>
                                <div ng-show="vm.mostrarFechaRetiro">
                                    <h4 class="media-heading">
                                        <label class="control-label" for="iptFechaRetiro">@L("zonificacion_zona_modalGestionarEmpleados_lblFechaFin")</label>
                                    </h4>
                                    <p class="input-group">
                                        <input type="text"
                                               class="form-control"
                                               id="iptFechaRetiro"
                                               name="iptFechaRetiro"
                                               ng-model="vm.nuevoEmpleado.fechaRetiro" close-text="Close"
                                               datepicker-popup="{{vm.configuracionFechaRetiro.format}}"
                                               is-open="vm.configuracionFechaRetiro.opciones.opened"
                                               min-date="vm.configuracionFechaRetiro.opciones.minDate"
                                               max-date="vm.configuracionFechaRetiro.opciones.maxDate"
                                               datepicker-options="vm.configuracionFechaRetiro.opciones" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-required="vm.requeridaFechaRetiro" ng-click="vm.configuracionFechaRetiro.open($event)">
                                                <em class="fa fa-calendar"></em>
                                            </button>
                                        </span>
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button class="btn btn-success btn-circle btn-lg" ng-click="vm.asignarEmpleadoZona()" ng-disabled="frmEmpleado.$invalid">
                                        <em class="fa fa-save"></em>
                                    </button>
                                    &nbsp;
                                    <button class="btn btn-warning btn-circle btn-lg" ng-click="vm.cancelarUpdateEmpleado()">
                                        <em class="fa" ng-class="{'fa-ban': vm.editandoEmpleado, 'fa-eraser': !vm.editandoEmpleado}"></em>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="panel panel-primary">
                    <div class="panel-heading" ng-class="'bg-' + app.theme.name">
                        {{vm.empleadosActivos.totalFilas}} @L("zonificacion_zona_empleados_empleadosRegistrados")
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr ng-repeat="empleado in vm.empleadosActivos.filasMostrar track by $index"
                                                ng-mouseenter="vm.controlesEmpleados.mostrar($index)"
                                                ng-mouseleave="vm.controlesEmpleados.ocultar($index)">
                                                <td>
                                                    <h4 class="media-heading">
                                                        {{empleado.nombreEmpleado}}
                                                    </h4>
                                                    <span class="text-muted">
                                                        {{empleado.tipoNombre}}
                                                    </span>
                                                </td>
                                                <td>
                                                    <div class="pull-right" ng-show="vm.controlesEmpleados.visible[$index] && !vm.editandoEmpleado">
                                                        <button class="btn btn-success btn-circle btn-lg" ng-click="vm.editarEmpleado(empleado)" title="@L("zonificacion_zona_empleados_editarEmpleado")">
                                                            <em class="fa fa-pencil"></em>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="text-center">
                                        <pagination ng-show="vm.empleadosActivos.filasPorPagina < vm.empleadosActivos.totalFilas" items-per-page="vm.empleadosActivos.filasPorPagina"
                                                    total-items="vm.empleadosActivos.totalFilas"
                                                    ng-model="vm.empleadosActivos.paginaActual"
                                                    ng-change="vm.empleadosActivos.pageChanged()"
                                                    class="pagination-sm"></pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading" ng-class="'bg-' + app.theme.name" >
                        {{vm.empleadosInactivos.totalFilas}} @L("zonificacion_zona_empleados_empleadosInactivos")
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr ng-repeat="empleado in vm.empleadosInactivos.filasMostrar track by $index">
                                                <td>
                                                    <h4 class="media-heading">
                                                        {{empleado.nombreEmpleado}}
                                                    </h4>
                                                    <span class="text-muted">
                                                        {{empleado.tipoNombre}}
                                                    </span>
                                                </td>
                                                <td>
                                                    <h4 class="media-heading">
                                                        @L("zonificacion_zona_modalGestionarEmpleados_tablePeriodo")
                                                    </h4>
                                                    <span class="text-muted">
                                                        {{empleado.fechaAsignacion}} - {{empleado.fechaRetiro}}
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="text-center">
                                        <pagination ng-show="vm.empleadosInactivos.filasPorPagina < vm.empleadosInactivos.totalFilas" items-per-page="vm.empleadosInactivos.filasPorPagina"
                                                    total-items="vm.empleadosInactivos.totalFilas"
                                                    ng-model="vm.empleadosInactivos.paginaActual"
                                                    ng-change="vm.empleadosInactivos.pageChanged()"
                                                    class="pagination-sm"></pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
