<div class="app-container" ng-controller="app.views.afiliaciones.periodosVenta as vm">
    <div class="app-view-header page-header">
        @L("afiliaciones_periodosventas_titulo")
        <small>@L("zonificacion_periodosventas_subtitulo")</small>
    </div>
    <div class="row">

        <div class="row">
            <div class="col-md-12" ng-show="vm.mostrarRegistrarPeriodo">
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading" ng-class="'bg-' + app.theme.name">
                            <span>@L("zonificacion_periodosventas_registrarNuevoPeriodo")</span>
                        </div>
                        <div class="panel-body" ng-form="formNuevoPeriodo">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-8">
                                        <div class="form-group" ng-class="{'has-error' : formNuevoPeriodo.iptPrefijo.$dirty && formNuevoPeriodo.iptPrefijo.$invalid}">
                                            <label class="control-label" for="iptPrefijo">@L("afiliaciones_periodosventas_nuevoPeriodoPrefijo")</label>
                                            <input type="text" class="form-control" id="iptPrefijo" name="iptPrefijo" ng-model="vm.nuevoPeriodo.prefijo" required maxlength="4" />
                                            <div ng-show="formNuevoPeriodo.iptPrefijo.$dirty && formNuevoPeriodo.iptPrefijo.$invalid">
                                                <small ng-show="formNuevoPeriodo.iptPrefijo.$error.required" class="text-danger">
                                                    @L("zonificacion_periodosventas_prefijoRequerido")
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label" for="iptPeriodoInicial">@L("afiliaciones_periodosventas_nuevoPeriodoPeriodoInicial")</label>
                                            <input type="text" bow-inputsolonumeros class="form-control" id="iptPeriodoInicial" name="iptPeriodoInicial" ng-model="vm.nuevoPeriodo.periodoInicial" required maxlength="2" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="col-md-12 form-group" ng-class="{'has-error' : formNuevoPeriodo.iptFechaInicio.$dirty && formNuevoPeriodo.iptFechaInicio.$invalid}">
                                        <label class="control-label" for="iptFechaInicio">@L("afiliaciones_periodosventas_nuevoPeriodoFechaInicio")</label>
                                        <p class="input-group">
                                            <input type="text"
                                                   class="form-control"
                                                   id="iptFechaInicio"
                                                   name="iptFechaInicio"
                                                   ng-model="vm.nuevoPeriodo.fechaInicio"
                                                   close-text="Close"
                                                   datepicker-popup="{{vm.configuracionFechaInicio.format}}"
                                                   is-open="vm.configuracionFechaInicio.opciones.opened"
                                                   min-date="vm.configuracionFechaInicio.opciones.minDate"
                                                   max-date="vm.configuracionFechaInicio.opciones.maxDate"
                                                   datepicker-options="vm.configuracionFechaInicio.opciones"
                                                   ng-blur="vm.cargarFechaFin(vm.nuevoPeriodo.fechaInicio)"
                                                   required />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default"
                                                        ng-click="vm.configuracionFechaInicio.open($event)">
                                                    <em class="fa fa-calendar"></em>
                                                </button>
                                            </span>
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="iptIntervalo">@L("afiliaciones_periodosventas_nuevoPeriodoIntervalo")</label>
                                            <input type="text" bow-inputsolonumeros class="form-control" id="iptIntervalo" name="iptIntervalo" ng-model="vm.nuevoPeriodo.intervalo" required maxlength="2" />
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <div class="checkbox-inline c-checkbox">
                                            <label>
                                                <input type="radio" name="chkbTiempo" value="Días" ng-model="vm.nuevoPeriodo.tiempo" ng-checked="vm.nuevoPeriodo.tiempo == 'Días'">
                                                <span class="fa fa-check"></span>@L("afiliaciones_periodosventas_nuevoPeriodoDias")
                                            </label>
                                        </div>
                                        <div class="checkbox-inline c-checkbox">
                                            <label>
                                                <input type="radio" name="chkbTiempo" value="Meses" ng-model="vm.nuevoPeriodo.tiempo" ng-checked="vm.nuevoPeriodo.tiempo == 'Meses'">
                                                <span class="fa fa-check"></span>@L("afiliaciones_periodosventas_nuevoPeriodoMeses")
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="col-md-12 form-group" ng-class="{'has-error' : formNuevoPeriodo.iptCalcularHasta.$dirty && formNuevoPeriodo.iptCalcularHasta.$invalid}">
                                        <label class="control-label" for="iptCalcularHasta">@L("afiliaciones_periodosventas_nuevoPeriodoFechaFinal")</label>
                                        <p class="input-group">
                                            <input type="text"
                                                   class="form-control"
                                                   id="iptCalcularHasta"
                                                   name="iptCalcularHasta"
                                                   ng-model="vm.nuevoPeriodo.fechaFin"
                                                   close-text="Close"
                                                   datepicker-popup="{{vm.configuracionFechaFin.format}}"
                                                   is-open="vm.configuracionFechaFin.opciones.opened"
                                                   min-date="vm.configuracionFechaFin.opciones.minDate"
                                                   max-date="vm.configuracionFechaFin.opciones.maxDate"
                                                   datepicker-options="vm.configuracionFechaFin.opciones"
                                                   required />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default"
                                                        ng-click="vm.configuracionFechaFin.open($event)">
                                                    <em class="fa fa-calendar"></em>
                                                </button>
                                            </span>
                                        </p><br />
                                    </div>
                                </div>
                            </div>

                            <div class="pull-right">
                                <button class="btn btn-success btn-circle btn-lg" ng-click="vm.verificarPeriodos()" ng-disabled="formNuevoPeriodo.$invalid">
                                    <em class="fa fa-save"></em>
                                </button>
                                &nbsp;
                                <button class="btn btn-warning btn-circle btn-lg" ng-click="vm.mostrarRegistrarPeriodo = !vm.mostrarRegistrarPeriodo">
                                    <em class="fa fa-ban"></em>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading" ng-class="'bg-' + app.theme.name">
                            {{vm.periodosCalculados.totalFilas}} @L("afiliaciones_periodosventas_periodosCalculados")
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tbody>
                                                <tr ng-repeat="periodo in vm.periodosCalculados.filasMostrar track by $index  ">
                                                    <td>
                                                        <h4 class="media-heading">
                                                            {{periodo.nombre}}
                                                        </h4>
                                                        <span class="text-muted">
                                                            @L("zonificacion_periodosventas_rango") ({{periodo.fechaInicio | date: 'dd-MMM-yyyy'}}  <em class="icon-minus"></em> {{periodo.fechaFin | date: 'dd-MMM-yyyy'}}) <em class="fa fa-caret-right"></em> @L("zonificacion_periodosventas_intervalo") ({{periodo.intervalo}})
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="text-right">
                                            <pagination ng-show="vm.periodosCalculados.filasPorPagina < vm.periodosCalculados.totalFilas"
                                                        items-per-page="vm.periodosCalculados.filasPorPagina"
                                                        total-items="vm.periodosCalculados.totalFilas"
                                                        ng-model="vm.periodosCalculados.paginaActual"
                                                        ng-change="vm.periodosCalculados.pageChanged()"
                                                        class="pagination-sm"></pagination>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-success btn-circle btn-lg" ng-click="vm.savePeriodosVentas()" ng-disabled="formNuevoPeriodo.$invalid" ng-show="vm.periodosCalculados.totalFilas > '0'">
                                            <em class="fa fa-save"></em>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading" ng-class="'bg-' + app.theme.name">
                    <div class="row text-center">
                        {{vm.periodosRegistrados.totalFilas}} &nbsp; @L("afiliaciones_periodosventas_periodosRegistrados")
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-center">
                                        <tr>
                                            <th class="text-center">
                                                <button class="btn btn-success btn-circle btn-lg" ng-click="vm.formularioNuevoPeriodo()" ng-hide="vm.mostrarRegistrarPeriodo" title="@L("afiliaciones_periodosventas_definirNuevoPeriodo")">
                                                    <em class="fa fa-plus"></em>
                                                </button>
                                            </th>
                                            <th class="text-center">
                                                <input type="text" class="form-control" id="iptFiltrarPor" name="iptFiltrarPor" placeholder="@L("afiliaciones_periodosventas_filtrarPor")" ng-model="filtrar" maxlength="50" />
                                            </th>
                                            <th class="text-center" width="200">
                                                <div class="checkbox c-checkbox">
                                                    <label>
                                                        <input type="checkbox" ng-model="vm.marcartodo" ng-click="vm.marcarTodo(vm.marcartodo)">
                                                        <span class="fa fa-check"></span>
                                                    </label>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="periodo in vm.periodosRegistrados.filasMostrar | filter: { nombre: filtrar} track by $index  ">
                                            <td class="text-center">
                                                <h4 class="media-heading">
                                                    {{periodo.nombre}}
                                                </h4>
                                            </td>
                                            <td class="text-center">
                                                <span class="text-muted">
                                                    @L("zonificacion_periodosventas_rango") ({{periodo.fechaInicio | date: 'dd-MMM-yyyy'}} <em class="icon-minus"></em> {{periodo.fechaFin | date: 'dd-MMM-yyyy'}}) <em class="fa fa-caret-right"></em> @L("zonificacion_periodosventas_intervalo") ({{periodo.intervalo}})
                                                </span>
                                            </td>
                                            <td class="text-center">
                                                <div class="checkbox c-checkbox">
                                                    <label>
                                                        <input type="checkbox" ng-model="periodo.marcar">
                                                        <span class="fa fa-check"></span>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td class="text-center" width="200">
                                                <button class="btn btn-success btn-circle btn-lg" title="@L("afiliaciones_periodosventas_btnEliminarSeleccionados")" ng-click="vm.eliminarSeleccionados()" ng-show="vm.periodosRegistrados.totalFilas > '0'">
                                                    <em class="icon-delete"></em>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="text-right">
                                    <pagination ng-show="vm.periodosRegistrados.filasPorPagina < vm.periodosRegistrados.totalFilas"
                                                items-per-page="vm.periodosRegistrados.filasPorPagina"
                                                total-items="vm.periodosRegistrados.totalFilas"
                                                ng-model="vm.periodosRegistrados.paginaActual"
                                                ng-change="vm.periodosRegistrados.pageChanged()"
                                                class="pagination-sm"></pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

