<div class="app-container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <button class="mr btn btn-pill-right btn-info" ng-click="verDetalle(gestion.id, gestion.grupoFamiliarId)">@L("afiliaciones_clienteProspecto_btnVerDetalle")</button>
            </div>
            <div class="col-md-5 text-center">
                <h4 class="media-heading">
                    <em class="fa fa-user"></em> {{gestion.personaNombre}}
                </h4>
            </div>
            <div class="col-md-5 text-center" ng-show="gestion.estadoNoAfiliacionMotivo > ''">
                <h4 class="media-heading">
                    @L("afiliaciones_clienteProspecto_bowGestionProspecto_motivoNoAfiliacion")
                </h4>
                <div>
                    {{gestion.estadoNoAfiliacionMotivo}}
                </div>
            </div>
        </div>
        <div class="col-md-12 bow-margin-top-10 ">
            <div class="col-md-2">
            </div>
            <div class="col-md-5 text-center" ng-show="mostrarDetalle && detalleCliente.planExequialNombre > ''">
                <h4 class="media-heading">
                    @L("afiliaciones_clienteProspecto_bowGestionProspecto_planExequial")
                </h4><span ng-style="styleEnSucursal"> {{detalleCliente.planExequialNombre}}</span>
            </div>
            <div class="col-md-5 text-center" ng-show="mostrarDetalle && detalleCliente.afiliados.length > 0">
                <h4 class="media-heading">
                    @L("afiliaciones_clienteProspecto_bowGestionProspecto_grupoFamiliar")
                </h4>
                <div ng-repeat="afiliado in detalleCliente.afiliados">
                    {{afiliado.parentescoNombre}} - {{afiliado.nombre}}<span ng-show="afiliado.apellido1 != ''">&nbsp;{{afiliado.apellido1}}</span><span ng-show="afiliado.apellido2 != ''">&nbsp;{{afiliado.apellido2}}</span>&nbsp;&nbsp;({{afiliado.ciudadResidenciaNombre}})
                </div>
            </div>
        </div>
    </div>
</div>


@*<div class="modal-body">
        <div class="alert alert-danger text-center" ng-show="mensajeError">
            <strong>{{mensajeError}}</strong>
        </div>

        <div class="row bow-margin-top-10">
            <div class="row bow-margin-top-15">
                <div class="col-md-12 ">
                    <div class="col-md-5">
                        <label class="control-label" for="iptNombreContacto">
                            @L("afiliaciones_clienteProspecto_bowGestionProspecto_nombreContacto")
                        </label><br />
                        {{gestion.personaNombre}}
                    </div>
                    <div class="col-md-5">
                        <label class="control-label" for="iptMotivoNoAfiliacion">
                            @L("afiliaciones_clienteProspecto_bowGestionProspecto_motivoNoAfiliacion")
                        </label><br />
                        {{gestion.estadoNoAfiliacionMotivo}}
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-success btn-block" ng-click="verDetalle(gestion.id, gestion.grupoFamiliarId)">@L("afiliaciones_clienteProspecto_btnVerDetalle")</button>
                    </div>
                </div>
            </div>

            <div class="row bow-margin-top-15">
                <div class="col-md-12 " ng-show="mostrarDetalle">
                    <div class="col-md-3">
                        <label class="control-label" for="iptPlanExequial">
                            @L("afiliaciones_clienteProspecto_bowGestionProspecto_planExequial")
                        </label><br />
                        <span ng-style="styleEnSucursal"> {{detalleCliente.planExequialNombre}}</span>
                    </div>
                    <div class="col-md-9">
                        <label class="control-label" for="iptGrupoFamiliar">
                            @L("afiliaciones_clienteProspecto_bowGestionProspecto_grupoFamiliar")
                        </label><br />
                        <div>
                            <div ng-repeat="afiliado in detalleCliente.afiliados">
                                {{afiliado.parentescoNombre}} - {{afiliado.nombre}}<span ng-show="afiliado.apellido1 != ''">&nbsp;{{afiliado.apellido1}}</span><span ng-show="afiliado.apellido2 != ''">&nbsp;{{afiliado.apellido2}}</span>&nbsp;-&nbsp;{{afiliado.ciudadResidenciaNombre}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />*@