<div>
    <div class="alert alert-danger text-center" ng-show="mensajeError">
        <strong>{{mensajeError}}</strong>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12 bow-margin-bottom-15">
                    <bow-buscarnombrepersona ng-model="buscarPor.nombre" tituloplaceholder="@L("directiva_bowBuscadorPersona_filtrarPorNombre")"></bow-buscarnombrepersona>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 bow-margin-bottom-15">
                    <bow-buscarapellidopersona ng-model="buscarPor.apellido1" tituloplaceholder="@L("directiva_bowBuscadorPersona_filtrarPorApellido1")"></bow-buscarapellidopersona>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 bow-margin-bottom-15">
                    <bow-buscarapellidopersona ng-model="buscarPor.apellido2" tituloplaceholder="@L("directiva_bowBuscadorPersona_filtrarPorApellido2")"></bow-buscarapellidopersona>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 bow-margin-bottom-15">
                    <input type="text" class="form-control" id="iptDocumento" placeholder="@L("directiva_bowBuscadorPersona_filtrarPorDocumento")"
                           name="iptDocumento" ng-model="buscarPor.documento" maxlength="50" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 bow-margin-bottom-15">
                    <input type="text" class="form-control" id="iptTelefono" placeholder="@L("directiva_bowBuscadorPersona_filtrarPorTelefono")"
                           name="iptTelefono" ng-model="buscarPor.telefono" maxlength="20" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 bow-margin-bottom-15">
                    <input type="text" class="form-control" id="iptZipCode" placeholder="@L("directiva_bowBuscadorPersona_filtrarPorZipCode")"
                           name="iptZipCode" ng-model="buscarPor.zipCode" maxlength="20" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 bow-margin-bottom-25">
                    <input type="text" class="form-control" id="iptCorreo" placeholder="@L("directiva_bowBuscadorPersona_filtrarPorCorreo")"
                           name="iptCorreo" ng-model="buscarPor.correoElectronico" maxlength="50" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 bow-margin-bottom-15">
                    <button class="btn btn-success btn-block" ng-click="consultarPersonas()">@L("directiva_bowBuscadorPersona_btnConsultar")</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 bow-margin-bottom-15">
                    <button class="btn btn-info btn-block" ng-click="limpiarBuscador()">@L("directiva_bowBuscadorPersona_btnLimpiar")</button>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div ng-show="resultadoBusqueda.totalFilas > 0 ">
                <div class="col-md-12 text-center">
                    {{resultadoBusqueda.totalFilas}} @L("directiva_bowBuscadorPersona_personasEncontradas")
                </div>
                <div class="col-md-12 text-center">
                    <div class="col-md-6">
                        @L("directiva_bowBuscadorPersona_resultadoDocumento")
                    </div>
                    <div class="col-md-6">
                        @L("directiva_bowBuscadorPersona_resultadoNombreCompleto")
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <div ng-repeat="persona in resultadoBusqueda.filasMostrar track by $index">
                        <bow-resultadobusqueda ng-model="persona" bow-seleccionopersona="seleccionoPersona(personaSeleccion)"></bow-resultadobusqueda>
                    </div>
                    <div class="text-center">
                        <pagination items-per-page="resultadoBusqueda.filasPorPagina"
                                    total-items="resultadoBusqueda.totalFilas"
                                    ng-model="resultadoBusqueda.paginaActual"
                                    ng-change="resultadoBusqueda.pageChanged()"
                                    class="pagination-sm"></pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
