<div class="container" ng-controller="app.views.zonificacion.zonificacion as vm">
    <div class="row">
        <div class="col-md-12">
            <h2>@L("zonificacion_zonificacion_titulo")</h2>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-8">
                    <h4>{{vm.pais.nombre}}<br /><small><strong>@L("zonificacion_zonificacion_indicativoPais")</strong> {{vm.pais.indicativo}}</small></h4>
                </div>
                <div class="col-md-4 text-right">
                    <a ui-sref="pais">@L("zonificacion_zonificacion_listaPaises")<i class="fa fa-list font-size-16"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a ng-click="vm.abrirModalNuevoDepto()" title="@L("zonificacion_pais_lkEliminarPaisTable")">@L("zonificacion_pais_nuevoPais") <span class="glyphicon glyphicon-plus-sign font-size-16"></span></a>
        </div>
        <div class="col-md-6 text-right">
            <p>{{vm.paises.length}} @L("zonificacion_pais_cantidadPaises")</p>
        </div>
    </div>
    <accordion>
        <accordion-group is-open="status.open">
            <accordion-heading>
                <div class="row">
                    <div class="col-md-6">
                        Listado de Departamentos
                    </div>
                    <div class="col-md-6 text-right">
                        Crear Departamento
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </div>
                </div>
            </accordion-heading>
            <div class="row">
                <div class="col-md-12">
                    <form role="form" action="#" class="form-inline">
                        <div class="form-group">
                            <label for="iptNombreDepto" class="control-label">Nombre Departamento</label>
                            <input type="text" id="iptNombreDepto" class="form-control" placeholder="Nombre Departamento" ng-model="vm.inputDepto.nombre" value="" />
                        </div>
                        <div class="form-group">
                            <label for="iptIndicativoDepto" class="control-label">Indicativo</label>
                            <input type="text" id="iptIndicativoDepto" class="form-control" placeholder="Indicativo Departamento" ng-model="vm.inputDepto.indicativo" value="" />
                        </div>
                        <button ng-click="vm.guardarDepartamento()" class="form-control btn btn-primary">Registrar</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr class="success">
                                <th>@L("zonificacion_pais_lbNombrePais")</th>
                                <th class="text-center">@L("zonificacion_pais_lbIndicativoTable")</th>
                                <th class="text-center">@L("zonificacion_pais_lbOperacionTable")</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="departamento in vm.departamentos">
                                <td>
                                    <strong>{{departamento.nombre}}</strong>
                                </td>
                                <td class="text-center">
                                    {{departamento.indicativo}}
                                </td>
                                <td class="text-center">
                                    <!--<a ui-sref="zonificacionPais({paisId : pais.id})" class="btn btn-link">@L("zonificacion_pais_lkEditarPaisTable")</a>
                                    <button ng-click="vm.abrirModalEliminar(pais.id)" class="btn btn-link">@L("zonificacion_pais_lkEliminarPaisTable")</button>-->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </accordion-group>
    </accordion>
</div>