<div class="app-container">
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading" ng-class="'bg-' + app.theme.name">
                    <span>@L("")Seleccionar Plan</span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="control-label" for="iptPlan">
                                @L("afiliaciones_clienteProspecto_Plan")
                            </label>
                            <select ng-model="planSelected" required
                                    ng-options="to.id as to.nombre for to in planes" class="form-control" ng-change="changePlan()">
                                <option value="">
                                    @L("afiliaciones_clienteProspecto_seleccione")
                                </option>
                            </select>
                        </div>
                        <div class="col-md-12 bow-margin-top-10">
                            <label class="control-label" for="iptNucleo">
                                @L("afiliaciones_clienteProspecto_Nucleo")
                            </label>
                            <select ng-model="grupoSelected" required
                                    ng-options="to.id as to.nombre for to in gruposFamiliares" class="form-control" ng-change="changeGrupo()">
                                <option value="">
                                    @L("afiliaciones_clienteProspecto_seleccione")
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="panel panel-primary">
                <div class="panel-heading" ng-class="'bg-' + app.theme.name">
                    @L("")Beneficios del Plan Seleccionado
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12" ng-show="mostrarNucleoSeleccionado">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <td class="text-center">@L("afiliaciones_clienteProspecto_BeneficiosPropios")</td>
                                            <td class="text-center">@L("afiliaciones_clienteProspecto_BeneficiosAdicionales")</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                <table class="table table-hover">
                                                    <tbody>
                                                        <tr ng-repeat="propio in propios">
                                                            <td class="text-center">
                                                                <label class="control-label" for="iptPropios">
                                                                    {{propio.nombre}}
                                                                </label>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td class="text-center">
                                                <table class="table table-hover">
                                                    <tbody>
                                                        <tr ng-repeat="adicional in adicionales">
                                                            <td class="text-center">
                                                                <label class="control-label" for="iptAdicionales">
                                                                    {{adicional.nombre}}&nbsp; {{adicional.valor | currency:"$ ":0}}
                                                                </label>
                                                            </td>
                                                            <td class="text-left">
                                                                <div class="checkbox c-checkbox needsclick">
                                                                    <label class="needsclick">
                                                                        <input type="checkbox" value="" class="needsclick" ng-model="adicional.seleccionado" ng-change="changeAdicional(adicional.id, adicional.valor, $index)">
                                                                        <span class="fa fa-check"></span>
                                                                    </label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary" ng-show="mostrarNucleoSeleccionado">
                <div class="panel-heading" ng-class="'bg-' + app.theme.name">
                    @L("")Cálculo de Valores
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="col-md-4 text-center">
                                        @L("afiliaciones_clienteProspecto_valorAnual")
                                    </div>
                                    <div class="col-md-4 text-center">
                                        @L("afiliaciones_clienteProspecto_valorMensual") (&nbsp;<input type="text" class="text-center" bow-inputsolonumeros size="3" ng-model="cantidadMeses" ng-blur="calcularValorMensual()" maxlength="2" />&nbsp; @L("afiliaciones_clienteProspecto_valorMensualMeses"))
                                    </div>
                                    <div class="col-md-4 text-center">
                                        @L("afiliaciones_clienteProspecto_pagoDescuento") &nbsp;<input type="text" class="text-center" bow-inputsolonumeros size="3" ng-model="cantidadDescuento" ng-blur="calcularDescuento()" maxlength="2" />&nbsp; @L("afiliaciones_clienteProspecto_pagoDescuentoPorcentaje")
                                    </div>
                                </div>
                                <div class="col-md-12 ">
                                    <div class="col-md-4 text-center">
                                        <h3>{{valorAnual | currency:"$ ":0}}</h3>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <h3>{{valorMensual | currency:"$ ":0}}</h3>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <h3>{{pagoDescuento | currency:"$ ":0}}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>




    </div>
</div>


@*<div class="modal-body">
        <div class="alert alert-danger text-center" ng-show="mensajeError">
            <strong>{{mensajeError}}</strong>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <span>@L("afiliaciones_clienteProspecto_tituloPlanes")</span>
            </div>
            <div class="col-md-12 bow-margin-top-15">
                <div class="col-md-6">
                    <label class="control-label" for="iptPlan">
                        @L("afiliaciones_clienteProspecto_Plan")
                    </label>
                    <select ng-model="planSelected" required
                            ng-options="to.id as to.nombre for to in planes" class="form-control" ng-change="changePlan()">
                        <option value="">
                            @L("afiliaciones_clienteProspecto_seleccione")
                        </option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label class="control-label" for="iptNucleo">
                        @L("afiliaciones_clienteProspecto_Nucleo")
                    </label>
                    <select ng-model="grupoSelected" required
                            ng-options="to.id as to.nombre for to in gruposFamiliares" class="form-control" ng-change="changeGrupo()">
                        <option value="">
                            @L("afiliaciones_clienteProspecto_seleccione")
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="bow-margin-top-25">
            <div class="col-md-12" ng-show="mostrarNucleoSeleccionado">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">@L("afiliaciones_clienteProspecto_BeneficiosPropios")</th>
                            <th class="text-center">@L("afiliaciones_clienteProspecto_BeneficiosAdicionales")</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">
                                <table class="table">
                                    <tbody>
                                        <tr ng-repeat="propio in propios">
                                            <td class="text-center">
                                                <label class="control-label" for="iptPropios">
                                                    {{propio.nombre}}
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="text-center">
                                <table class="table">
                                    <tbody>
                                        <tr ng-repeat="adicional in adicionales">
                                            <td class="text-center">
                                                <label class="control-label" for="iptAdicionales">
                                                    {{adicional.nombre}}&nbsp; {{adicional.valor | currency:"$ ":0}}
                                                </label>
                                            </td>
                                            <td class="text-left">
                                                <input type="checkbox" ng-model="adicional.seleccionado" ng-change="changeAdicional(adicional.id, adicional.valor, $index)">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br /><br /><br />
        <div class="bow-margin-top-25">
            <div ng-show="mostrarNucleoSeleccionado">
                <div class="col-md-12 ">
                    <div class="col-md-4 text-center">
                        @L("afiliaciones_clienteProspecto_valorAnual")
                    </div>
                    <div class="col-md-4 text-center">
                        @L("afiliaciones_clienteProspecto_valorMensual") (&nbsp;<input type="text" class="text-center" bow-inputsolonumeros size="3" ng-model="cantidadMeses" ng-blur="calcularValorMensual()" maxlength="2" />&nbsp; @L("afiliaciones_clienteProspecto_valorMensualMeses"))
                    </div>
                    <div class="col-md-4 text-center">
                        @L("afiliaciones_clienteProspecto_pagoDescuento") &nbsp;<input type="text" class="text-center" bow-inputsolonumeros size="3" ng-model="cantidadDescuento" ng-blur="calcularDescuento()" maxlength="2" />&nbsp; @L("afiliaciones_clienteProspecto_pagoDescuentoPorcentaje")
                    </div>
                </div>
                <div class="col-md-12 ">
                    <div class="col-md-4 text-center">
                        <label class="control-label" for="iptValorAnual">
                            {{valorAnual | currency:"$ ":0}}
                        </label>
                    </div>
                    <div class="col-md-4 text-center">
                        <label class="control-label" for="iptValorMensual">
                            {{valorMensual | currency:"$ ":0}}
                        </label>
                    </div>
                    <div class="col-md-4 text-center">
                        <label class="control-label" for="iptPagoDescuento">
                            {{pagoDescuento | currency:"$ ":0}}
                        </label>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br />*@
