<div ng-form="frmRegistrarTelefono">
    <div class="row"> 
        <div class="col-md-12" ng-show="mensajeError">
            <div class="alert alert-danger text-center">
                <strong>{{mensajeError}}</strong>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="radio c-radio">
                        <label>
                            <input type="radio" name="i-radio" value="{{tipos[0].id}}" ng-model="radioModel" ng-click="mostrarExtension(false)">
                            <span class="fa fa-mobile"></span>{{tipos[0].nombre}}
                        </label>
                    </div>
            <div class="radio c-radio">
                        <label>
                            <input type="radio" name="i-radio" value="{{tipos[1].id}}" ng- ng-model="radioModel" checked="checked" ng-click="mostrarExtension(true)">
                            <span class="fa fa-phone"></span>{{tipos[1].nombre}}
                        </label>
                    </div>
                </div>
        <div class="col-md-3">
            <div class="form-group" ng-class="{'has-error' : frmRegistrarTelefono.iptTelefono.$dirty && frmRegistrarTelefono.iptTelefono.$invalid }">
                <div class="form-group" ng-class="{'has-error' : frmRegistrarTelefono.iptTelefono.$dirty && frmRegistrarTelefono.iptTelefono.$invalid }">
                    <label class="control-label" for="iptTelefono">@L("zonificacion_telefono_registrar_telefono")</label>
                    <input type="text" class="form-control" id="iptTelefono" ng-pattern="/^[0-9]+$/" name="iptTelefono" placeholder="@L("zonificacion_telefono_registrar_telefono")" ng-model="telefono" required maxlength="10" />
                    <div ng-show="frmRegistrarTelefono.iptTelefono.$dirty && frmRegistrarTelefono.iptTelefono.$invalid">
                        <small ng-show="frmRegistrarTelefono.iptTelefono.$error.required" class="text-danger">
                            @L("zonificacion_telefono_registrar_telefonoRequerida")
                        </small>
                        <small ng-show="frmRegistrarTelefono.iptTelefono.$error.pattern" class="text-danger">
                            @L("zonificacion_telefono_registrar_telefonoNumerico")
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2" ng-show="extensionMostrar">
            <label class="control-label" for="iptExtension">@L("zonificacion_telefono_registrar_extension")</label>
            <input type="text" class="form-control" id="iptExtension" name="iptExtension" placeholder="@L("zonificacion_telefono_registrar_extension")" ng-model="extension" maxlength="5" />
        </div>
        <div ng-class="{'col-md-4': extensionMostrar, 'col-md-5' : !extensionMostrar}">
            <bow-buscarlocalidad titulo=@L("zonificacion_telefono_registrar_localidad")
                                 mostrarindicativo="true"
                                 ng-model="localidad"
                                 bow-seleccionolocalidad="obtenerLocalidad(localidad)"
                                 ng-disabled="localidadDisabled"
                                 control-operaciones="controlOperacionesLocalidad">
            </bow-buscarlocalidad>
        </div>
        <div class="col-md-1 pull-left bow-margin-top-20">
            <button type="button" class="btn btn-success btn-circle btn-lg" ng-click="guardarTelefono()" ng-disabled="frmRegistrarTelefono.$invalid" title="@L("zonificacion_telefono_registrar_btGuardar")">
                <em class="fa fa-save"></em>
            </button>
        </div>
    </div>
</div>