<div class="app-container" ng-controller="app.views.afiliaciones.clienteProspecto as vm">

    <div class="app-view-header page-header">
        @L("afiliaciones_clienteProspecto_titulo")
        <small>@L("afiliaciones_clienteProspecto_subTitulo")</small>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div ui-view="" ng-class="app.views.animation" class="ng-scope ng-fadeInLeft2">
                <!-- panel -->
                <div class="panel panel-primary">
                    <div class="panel-heading" ng-class="'bg-' + app.theme.name">
                        <span>@L("afiliaciones_clienteProspecto_registrarNuevoCliente")</span>
                    </div>
                    <div class="panel-body">
                        <div ng-init="vm.activeStep=1" class="wizard">
                            <ul class="steps-bar">
                                <li ng-class="{'active':vm.activeStep>=1}" class="active">
                                    <span>@L("afiliaciones_clienteProspecto_tituloPaso1")</span>
                                </li>
                                <li ng-class="{'active':vm.activeStep>=2}">
                                    <span>@L("afiliaciones_clienteProspecto_tituloPaso2")</span>
                                </li>
                                <li ng-class="{'active':vm.activeStep>=3}">
                                    <span>@L("afiliaciones_clienteProspecto_tituloPaso3")</span>
                                </li>
                                <li ng-class="{'active':vm.activeStep>=4}">
                                    <span>@L("afiliaciones_clienteProspecto_tituloPaso4")</span>
                                </li>
                            </ul>
                            <div class="row text-center bow-margin-bottom-15" ng-show="vm.activeStep==3 || vm.activeStep==4 || vm.mostrarNoContinuar">
                                <em class="fa fa-user" ng-show="vm.nuevaPersonaProspecto.nombre > ''"></em> <span>{{vm.nuevaPersonaProspecto.nombre}}&nbsp;{{vm.nuevaPersonaProspecto.apellido1}}&nbsp;{{vm.nuevaPersonaProspecto.apellido2}}&nbsp;<span ng-show="vm.edadContacto > ''">({{vm.edadContacto}}&nbsp;@L("afiliaciones_clienteProspecto_años"))</span></span>&nbsp;
                                <em class="fa fa-phone"></em> <span>{{vm.clienteProspecto.telefono.telefonoCompleto}}</span>&nbsp;
                                <em class="fa fa-home"></em> <span>{{vm.clienteProspecto.direccion.direccionCompleta}}</span>
                            </div>

                            <div ng-show="vm.activeStep==1" class="wizard-step">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading" ng-class="'bg-' + app.theme.name">
                                                <span>@L("afiliaciones_clienteProspecto_contenidoPaso1")</span>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <form name="form_step1">
                                                        <div class="col-md-4">
                                                            <bow-buscar-empleado-typeahead ng-model="vm.clienteProspecto.empleado"
                                                                                           titulolabel='@L("afiliaciones_clienteProspecto_empleado_titulo")'
                                                                                           tituloplaceholder='@L("afiliaciones_clienteProspecto_empleado_placeholder")'
                                                                                           bow-selecciono-empleado="vm.seleccionoEmpleado(empleado)">
                                                            </bow-buscar-empleado-typeahead>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <bow-buscarsucursal ng-model="vm.clienteProspecto.sucursal"
                                                                                titulolabel='@L("afiliaciones_clienteProspecto_sucursal_titulo")'
                                                                                tituloplaceholder='@L("afiliaciones_clienteProspecto_sucursal_placeholder")'
                                                                                bow-seleccionosucursal="vm.seleccionoSucursal(sucursal)"
                                                                                control-operaciones="vm.controlOperacionesSucursal">
                                                            </bow-buscarsucursal>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <bow-buscarlocalidad titulo='@L("afiliaciones_clienteProspecto_localidad_titulo")'
                                                                                 mostrarindicativo="true"
                                                                                 ng-model="vm.clienteProspecto.localidad"
                                                                                 bow-seleccionolocalidad="vm.obtenerLocalidad(localidad)"
                                                                                 control-operaciones="vm.controlOperacionesLocalidad">
                                                            </bow-buscarlocalidad>
                                                        </div>
                                                    </form>
                                                </div>

                                                <div class="row" class="row" ng-show="vm.clienteProspecto.empleado && vm.clienteProspecto.sucursal && vm.clienteProspecto.localidad">
                                                    <div class="col-md-12">
                                                        <h4>@L("afiliaciones_clienteProspecto_ubicacion_titulo")</h4>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="text-oneline">
                                                            <button type="button"
                                                                    class="mr btn btn-pill-right btn-success"
                                                                    bow-modalnuevadireccion
                                                                    bow-nuevadireccionregistrada="vm.direccionRegistrada(direccion)"
                                                                    localidad-seleccionada="vm.clienteProspecto.localidad"
                                                                    input-localidad-disabled="true">
                                                                @L("afiliaciones_clienteProspecto_ubicacion_direccion_btnAdd")
                                                            </button>
                                                            <label ng-show="vm.clienteProspecto.direccion.direccionCompleta" class="control-label font-size-16">@L("afiliaciones_clienteProspecto_ubicacion_direccion_titulo")</label>&nbsp;&nbsp;<label class="control-label">{{vm.clienteProspecto.direccion.direccionCompleta}}</label>
                                                        </div>

                                                    </div>

                                                    <div class="col-md-12 bow-margin-top-15">
                                                        <div class="text-oneline">
                                                            <button type="button" class="mr btn btn-pill-right btn-success" ng-click="vm.mostrarDirectivaTelefono(true)" ng-hide="vm.directivaTelefonoVisible">
                                                                @L("afiliaciones_clienteProspecto_ubicacion_telefono_btnAdd")
                                                            </button>
                                                            <button type="button" class="mr btn btn-pill-right btn-warning" ng-click="vm.mostrarDirectivaTelefono(false)" ng-show="vm.directivaTelefonoVisible">
                                                                @L("afiliaciones_clienteProspecto_ubicacion_telefono_btnCancel")
                                                            </button>
                                                            <label class="control-label font-size-16" ng-show="vm.clienteProspecto.telefono.telefonoCompleto && !vm.directivaTelefonoVisible">@L("afiliaciones_clienteProspecto_ubicacion_telefono_titulo")</label>&nbsp;&nbsp;<label class="control-label">{{vm.clienteProspecto.telefono.telefonoCompleto}}</label>
                                                            <bow-nuevotelefono bow-guardotelefono="vm.notificacionTelefonoGuardado(telefono)"
                                                                               ng-show="vm.directivaTelefonoVisible"
                                                                               control="vm.controlOperacionesTelefono">
                                                            </bow-nuevotelefono>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button ng-click="vm.saveProspecto()" ng-disabled="form_step1.$invalid || (!vm.clienteProspecto.direccion.id && !vm.clienteProspecto.telefono.id)" class="btn btn-success btn-circle btn-lg" disabled="disabled" title="@L("afiliaciones_clienteProspecto_btnSiguiente")"><em class="fa fa-forward"></em></button>
                                </div>
                            </div>

                            <div ng-show="vm.activeStep==2" class="wizard-step ng-hide">
                                <div ng-show="vm.mostrarPasoDos">
                                    <div ng-show="vm.mostrarProspectos">
                                        <div class="col-lg-12">
                                            <div class="col-md-12" ng-repeat="gestion in vm.gestionesProspecto">
                                                <div class="panel panel-primary">
                                                    <div class="panel-heading" ng-class="'bg-' + app.theme.name">
                                                        {{gestion.fechaGestion | date:'medium'}}
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="col-md-2 bow-margin-bottom-5">
                                                                    <button class="mr btn btn-pill-right btn-success" ng-click="vm.iniciarContacto(gestion)">@L("afiliaciones_clienteProspecto_btnIniciarContacto")</button>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <bow-gestion-prospecto ng-model="gestion" bow-sucursalid="vm.nuevoGestionProspecto.sucursalId"></bow-gestion-prospecto>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row bow-margin-top-20" ng-show="!vm.mostrarProspectos">
                                        <div class="col-lg-12">
                                            <div class="panel panel-primary">
                                                <div class="panel-heading" ng-class="'bg-' + app.theme.name">
                                                    <span>@L("afiliaciones_clienteProspecto_contenidoPaso2InformacionContacto")</span>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="col-md-4 text-center">
                                                                <bow-buscarnombrepersona ng-model="vm.nuevaPersonaProspecto.nombre" titulolabel="@L("afiliaciones_clienteProspecto_contactoNombre")" tituloplaceholder="@L("afiliaciones_clienteProspecto_contactoNombre")"></bow-buscarnombrepersona>
                                                            </div>
                                                            <div class="col-md-3 text-center">
                                                                <bow-buscarapellidopersona ng-model="vm.nuevaPersonaProspecto.apellido1" titulolabel="@L("afiliaciones_clienteProspecto_contactoPrimerApellido")" tituloplaceholder="@L("afiliaciones_clienteProspecto_contactoPrimerApellido")"></bow-buscarapellidopersona>
                                                            </div>
                                                            <div class="col-md-3 text-center">
                                                                <bow-buscarapellidopersona ng-model="vm.nuevaPersonaProspecto.apellido2" titulolabel="@L("afiliaciones_clienteProspecto_contactoSegundoApellido")" tituloplaceholder="@L("afiliaciones_clienteProspecto_contactoSegundoApellido")"></bow-buscarapellidopersona>
                                                            </div>
                                                            <div class="col-md-2 text-center">
                                                                <label class="control-label" for="iptEdad">
                                                                    @L("afiliaciones_clienteProspecto_contactoEdad")
                                                                </label>
                                                                <input type="text" placeholder="@L("afiliaciones_clienteProspecto_contactoEdad")" bow-inputsolonumeros class="form-control" id="iptEdad" name="iptEdad" ng-model="vm.edadContacto" maxlength="3" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row bow-margin-top-20">
                                                        <div class="col-md-12">
                                                            <div class="col-md-4">
                                                                <label class="control-label" for="iptEmpresa">
                                                                    @L("afiliaciones_clienteProspecto_contactoEmpresaAfiliada")
                                                                </label>
                                                                <input type="text" placeholder="@L("afiliaciones_clienteProspecto_contactoEmpresa")Empresa" class="form-control" id="iptEmpresa" name="iptEmpresa" ng-model="vm.nuevoGestionProspecto.empresaAfiliada" maxlength="50" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 text-center">
                                            <button ng-click="vm.saveInformacionContacto(false)" class="btn btn-warning btn-circle btn-lg" title="@L("afiliaciones_clienteProspecto_btnNoContinuar")"> <em class="fa fa-times"></em></button>
                                            <button ng-click="vm.saveInformacionContacto(true)" ng-disabled="!vm.nuevaPersonaProspecto.nombre || !vm.nuevaPersonaProspecto.apellido1" class="btn btn-success btn-circle btn-lg" disabled="disabled" title="@L("afiliaciones_clienteProspecto_btnSiguiente")"><em class="fa fa-forward"></em></button>
                                        </div>



                                    </div>
                                </div>
                            </div>

                            <div ng-show="vm.activeStep==3" class="wizard-step ng-hide">
                                <div ng-show="vm.mostrarPasoTres">
                                    <div class="col-lg-4">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading" ng-class="'bg-' + app.theme.name">
                                                <span ng-if="!vm.editandoBeneficiario">@L("afiliaciones_clienteProspecto_contenidoPaso3AgregarInscrito")</span>
                                                <span ng-if="vm.editandoBeneficiario">@L("afiliaciones_clienteProspecto_contenidoPaso3EditandoInscrito"){{vm.nombreBeneficiarioEditar | uppercase}}</span>
                                            </div>
                                            <div class="panel-body" ng-form="frmBeneficiario">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="col-md-8">
                                                            <bow-buscarparentesco ng-model="vm.parentescoId" ng-required="true" titulolabel="@L("afiliaciones_clienteProspecto_beneficiarioParentesco")" tituloplaceholder="@L("afiliaciones_clienteProspecto_beneficiarioParentesco")" bow-seleccionoparentesco="seleccionoParentesco(parentesco)"></bow-buscarparentesco>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label class="control-label" for="iptEdadParentesco">
                                                                @L("afiliaciones_clienteProspecto_beneficiarioEdad")
                                                            </label>
                                                            <input type="text" placeholder="@L("afiliaciones_clienteProspecto_beneficiarioEdad")" bow-inputsolonumeros class="form-control" id="iptEdadParentesco" name="iptEdadParentesco" ng-model="vm.nuevoBeneficiario.edad" maxlength="3" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="col-md-12 bow-margin-top-10">
                                                            <bow-buscarlocalidad titulo="@L("afiliaciones_clienteProspecto_beneficiarioLugarResidencia")"
                                                                                 mostrarindicativo="false"
                                                                                 ng-model="vm.ciudadResidenciaId"
                                                                                 ng-disabled="false"
                                                                                 bow-seleccionolocalidad="obtenerLocalidad(localidad)">
                                                            </bow-buscarlocalidad>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="col-md-6">
                                                            <bow-buscarnombrepersona ng-model="vm.nuevoBeneficiario.nombre" titulolabel="@L("afiliaciones_clienteProspecto_beneficiarioNombre")" tituloplaceholder="@L("afiliaciones_clienteProspecto_beneficiarioNombre")"></bow-buscarnombrepersona>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <bow-buscarapellidopersona ng-model="vm.nuevoBeneficiario.apellido1" titulolabel="@L("afiliaciones_clienteProspecto_beneficiarioPrimerApellido")" tituloplaceholder="@L("afiliaciones_clienteProspecto_beneficiarioPrimerApellido")"></bow-buscarapellidopersona>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 bow-margin-top-10">
                                                        <div class="col-md-6">
                                                            <bow-buscarapellidopersona ng-model="vm.nuevoBeneficiario.apellido2" titulolabel="@L("afiliaciones_clienteProspecto_beneficiarioSegundoApellido")" tituloplaceholder="@L("afiliaciones_clienteProspecto_beneficiarioSegundoApellido")"></bow-buscarapellidopersona>
                                                        </div>
                                                        <div class="col-md-6 bow-margin-top-25">
                                                            <div class="btn-switch mb mr btn-switch-info">
                                                                <input type="checkbox" id="checkboxBebe" ng-model="vm.nuevoBeneficiario.bebePorNacer">
                                                                <label for="checkboxBebe" class="btn btn-info">
                                                                    <em class="fa fa-check"></em>@L("afiliaciones_clienteProspecto_beneficiarioBebeNacer")
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="pull-right">
                                                            <button class="btn btn-success btn-circle btn-lg" ng-click="vm.saveOrUpdateBeneficiario(frmBeneficiario)" ng-disabled="frmBeneficiario.$invalid">
                                                                <em class="fa fa-save"></em>
                                                            </button>
                                                            &nbsp;
                                                            <button class="btn btn-warning btn-circle btn-lg" ng-click="vm.cancelarUpdateBeneficiario(frmBeneficiario)">
                                                                <em class="fa" ng-class="{'fa-ban': vm.editandoBeneficiario, 'fa-eraser': !vm.editandoBeneficiario}"></em>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-8">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading" ng-class="'bg-' + app.theme.name">
                                                @L("afiliaciones_clienteProspecto_inscritosRegistrados")
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="table-responsive">
                                                            <table class="table table-hover">
                                                                <tbody>
                                                                    <tr ng-repeat="parentesco in vm.parentescos track by $index"
                                                                        ng-mouseenter="vm.controles.mostrar($index)"
                                                                        ng-mouseleave="vm.controles.ocultar($index)">
                                                                        <td>
                                                                            <h4 class="media-heading">
                                                                                {{parentesco.parentescoNombre}} <em class="fa fa-caret-right"></em> {{parentesco.nombre}}&nbsp;{{parentesco.apellido1}}&nbsp;{{parentesco.apellido2}}&nbsp;({{parentesco.edad}} @("afiliaciones_clienteProspecto_años"))
                                                                            </h4>
                                                                            <span class="text-muted">
                                                                                {{parentesco.ciudadResidenciaNombre}}
                                                                            </span>
                                                                        </td>
                                                                        <td>
                                                                            <div class="pull-right" ng-show="vm.controles.visible[$index] && !vm.editandoBeneficiario">
                                                                                <bow-operacion-editar-fila operacion-editar="vm.editarParentesco(parentesco.id)"
                                                                                                           mensaje-tooltip='@L("afiliaciones_clienteProspecto_tooltipEditar")'
                                                                                                           posicion-tooltip="left"
                                                                                                           ng-hide="vm.eliminandoBeneficiario">
                                                                                </bow-operacion-editar-fila>
                                                                                &nbsp;
                                                                                <bow-operacion-eliminar-fila mensaje-confirmacion='@L("afiliaciones_clienteProspecto_mensajeEliminar")'
                                                                                                             mensaje-tooltip='@L("afiliaciones_clienteProspecto_tooltipEliminar")'
                                                                                                             operacion-puede-eliminar="vm.puedeEliminarBeneficiario(parentesco.id, funcionRetornarPuedeEliminar)"
                                                                                                             no-puede-eliminar="vm.noPuedeEliminar()"
                                                                                                             confirmacion-ok="vm.eliminarBeneficiarioOk(parentesco.id)"
                                                                                                             confirmacion-cancel="vm.eliminarBeneficiarioCancel()">
                                                                                </bow-operacion-eliminar-fila>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 text-center">
                                        <button type="button" ng-click="vm.activeStep=2" class="btn btn-success btn-circle btn-lg"><em class="fa fa-backward" title="@L("afiliaciones_clienteProspecto_btnAnterior")"></em></button>
                                        <button ng-click="vm.noContinuar()" class="btn btn-warning btn-circle btn-lg" title="@L("afiliaciones_clienteProspecto_btnNoContinuar")"> <em class="fa fa-times"></em></button>
                                        <button type="button" ng-click="vm.activeStep=4" class="btn btn-success btn-circle btn-lg"><em class="fa fa-forward" title="@L("afiliaciones_clienteProspecto_btnSiguiente")"></em></button>
                                    </div>

                                </div>
                            </div>

                            <div ng-show="vm.activeStep==4" class="wizard-step ng-hide">
                                <div ng-show="vm.mostrarPasoCuatro">
                                    <bow-planclienteprospecto bow-beneficiosadicionales="vm.adicionales" bow-mostrarnucleoseleccionado="vm.mostrarNucleoSeleccionado" bow-grupofamiliaridseleccionado="vm.grupoFamiliarId" control-operaciones="vm.controlOperacionesPlanCliente"></bow-planclienteprospecto>

                                    <div class="col-md-12 text-center">
                                        <button type="button" ng-click="vm.activeStep=3" class="btn btn-success btn-circle btn-lg"><em class="fa fa-backward" title="@L("afiliaciones_clienteProspecto_btnAnterior")"></em></button>
                                        <button ng-click="vm.noContinuar()" class="btn btn-warning btn-circle btn-lg" title="@L("afiliaciones_clienteProspecto_btnNoContinuar")"> <em class="fa fa-times"></em> </button>
                                        <button type="button" ng-click="vm.saveAfiliacion(form_step1)" class="btn btn-success btn-circle btn-lg" ng-disabled="!vm.grupoFamiliarId"><em class="fa fa-forward" title="@L("afiliaciones_clienteProspecto_btnSiguiente")"></em></button>
                                    </div>
                                </div>
                            </div>


                            <div class="row" ng-show="vm.mostrarNoContinuar">
                                <div class="col-lg-12">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading" ng-class="'bg-' + app.theme.name">
                                            <span>@L("afiliaciones_clienteProspecto_tituloNoContinua")</span>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-6 ">
                                                        <label class="control-label" for="iptOtraFuneraria">
                                                            @L("afiliaciones_clienteProspecto_motivoNoAfiliacion")
                                                        </label>
                                                        <select ng-model="vm.nuevoGestionProspecto.estadoNoAfiliacionId" required
                                                                ng-options="to.id as to.motivo for to in vm.motivosNoAfiliacion" class="form-control">
                                                            <option value="">
                                                                @L("afiliaciones_clienteProspecto_seleccione")
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6 ">
                                                        <bow-buscarfuneraria ng-model="vm.selectedFuneraria" ng-required="false" titulolabel="@L("afiliaciones_clienteProspecto_otraFuneraria")" tituloplaceholder="@L("afiliaciones_clienteProspecto_otraFuneraria")" bow-seleccionofuneraria="vm.seleccionoFuneraria(funeraria)"></bow-buscarfuneraria>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row bow-margin-top-25">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <label class="control-label" for="iptOtraFuneraria">
                                                            @L("afiliaciones_clienteProspecto_observaciones")
                                                        </label>
                                                        <textarea type="text" placeholder="@L("afiliaciones_clienteProspecto_observaciones")" class="form-control" id="iptObservaciones" name="iptObservaciones" ng-model="vm.nuevoGestionProspecto.observaciones" maxlength="300" />
                                                    </div>
                                                    <div class="col-md-6 bow-margin-top-25 text-center">
                                                        <button class="btn btn-success btn-circle btn-lg" ng-click="vm.registrarVisita(form_step1)"> <em class="fa fa-check"></em></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

</div>



@*<div class="container" ng-controller="app.views.afiliaciones.clienteProspecto as vm">
        <div class="modal-header text-center">
            <h2>@L("afiliaciones_clienteProspecto_titulo")</h2>
        </div>
        <br />
        <div class="alert alert-danger text-center" ng-show="mensajeError">
            <strong>{{mensajeError}}</strong>
        </div>
        <div ng-show="vm.mostrarProspectos">
            <div ng-show="vm.mostrarInformacion">
                <form role="form" name="frmClienteProspecto">
                    <div class="row">
                        <div class="col-md-4">
                            <bow-buscar-empleado-typeahead ng-model="vm.clienteProspecto.empleado"
                                                           titulolabel='@L("afiliaciones_clienteProspecto_empleado_titulo")'
                                                           tituloplaceholder='@L("afiliaciones_clienteProspecto_empleado_placeholder")'
                                                           bow-selecciono-empleado="vm.seleccionoEmpleado(empleado)">
                            </bow-buscar-empleado-typeahead>
                        </div>
                        <div class="col-md-4">
                            <bow-buscarsucursal ng-model="vm.clienteProspecto.sucursal"
                                                titulolabel='@L("afiliaciones_clienteProspecto_sucursal_titulo")'
                                                tituloplaceholder='@L("afiliaciones_clienteProspecto_sucursal_placeholder")'
                                                bow-seleccionosucursal="vm.seleccionoSucursal(sucursal)"
                                                control-operaciones="vm.controlOperacionesSucursal">
                            </bow-buscarsucursal>
                        </div>
                        <div class="col-md-4">
                            <bow-buscarlocalidad titulo='@L("afiliaciones_clienteProspecto_localidad_titulo")'
                                                 mostrarindicativo="true"
                                                 ng-model="vm.clienteProspecto.localidad"
                                                 bow-seleccionolocalidad="vm.obtenerLocalidad(localidad)"
                                                 control-operaciones="vm.controlOperacionesLocalidad">
                            </bow-buscarlocalidad>
                        </div>
                    </div>
                </form>
                <div class="row" ng-show="vm.clienteProspecto.empleado && vm.clienteProspecto.sucursal && vm.clienteProspecto.localidad">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>@L("afiliaciones_clienteProspecto_ubicacion_titulo")</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-default glyphicon glyphicon-plus" ng-click="vm.mostrarDirectivaTelefono(true)" ng-hide="vm.directivaTelefonoVisible">
                                    @L("afiliaciones_clienteProspecto_ubicacion_telefono_btnAdd")
                                </button>
                                <button type="button" class="btn btn-danger glyphicon glyphicon-minus" ng-click="vm.mostrarDirectivaTelefono(false)" ng-show="vm.directivaTelefonoVisible">
                                    @L("afiliaciones_clienteProspecto_ubicacion_telefono_btnCancel")
                                </button>
                                <br /><br />
                                <div ng-show="vm.clienteProspecto.telefono.telefonoCompleto && !vm.directivaTelefonoVisible">
                                    <label class="control-label font-size-16">@L("afiliaciones_clienteProspecto_ubicacion_telefono_titulo")</label>&nbsp;&nbsp;<label class="control-label">{{vm.clienteProspecto.telefono.telefonoCompleto}}</label>
                                </div>
                                <bow-nuevotelefono bow-guardotelefono="vm.notificacionTelefonoGuardado(telefono)"
                                                   ng-show="vm.directivaTelefonoVisible"
                                                   control="vm.controlOperacionesTelefono">
                                </bow-nuevotelefono>
                            </div>
                            <div class="col-md-6">
                                <button type="button"
                                        class="btn btn-default glyphicon glyphicon-plus"
                                        bow-modalnuevadireccion
                                        bow-nuevadireccionregistrada="vm.direccionRegistrada(direccion)"
                                        localidad-seleccionada="vm.clienteProspecto.localidad"
                                        input-localidad-disabled="true">
                                    @L("afiliaciones_clienteProspecto_ubicacion_direccion_btnAdd")
                                </button>
                                <br /><br />
                                <div ng-show="vm.clienteProspecto.direccion.direccionCompleta">
                                    <label class="control-label font-size-16">@L("afiliaciones_clienteProspecto_ubicacion_direccion_titulo")</label>&nbsp;&nbsp;<label class="control-label">{{vm.clienteProspecto.direccion.direccionCompleta}}</label>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <button type="button" class="btn btn-success" ng-click="vm.saveProspecto()" ng-disabled="frmClienteProspecto.$invalid || (!vm.clienteProspecto.telefono.telefonoCompleto && !vm.clienteProspecto.direccion.direccionCompleta)">@L("afiliaciones_clienteProspecto_ubicacion_validarProspecto_btn")</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" ng-show="!vm.mostrarInformacion">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <label class="control-label" for="iptTelefono">
                                @L("afiliaciones_clienteProspecto_numeroTelefono")
                            </label> <br />
                            <span>{{vm.clienteProspecto.telefono.telefonoCompleto}}</span>
                        </div>
                        <div class="col-md-4 text-center">
                            <label class="control-label" for="iptDireccion">
                                @L("afiliaciones_clienteProspecto_direccion")
                            </label><br />
                            <span>{{vm.clienteProspecto.direccion.direccionCompleta}}</span>
                        </div>
                        <div class="col-md-4 text-center">
                            <div ng-show="!vm.mostrarInformacionContacto || !vm.mostrarNoContinuar">
                                <div ng-show="vm.nuevaPersonaProspecto.nombre > '' && vm.nuevaPersonaProspecto.apellido1 > ''">
                                    <label class="control-label" for="iptContacto">
                                        @L("afiliaciones_clienteProspecto_contacto")
                                    </label><br />
                                    <span>{{vm.nuevaPersonaProspecto.nombre}}&nbsp;{{vm.nuevaPersonaProspecto.apellido1}}&nbsp;{{vm.nuevaPersonaProspecto.apellido2}}&nbsp;<span ng-show="vm.edadContacto > ''">({{vm.edadContacto}}&nbsp;@L("afiliaciones_clienteProspecto_años"))</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 text-right">
                            <span ng-show="!vm.mostrarInformacionContacto || !vm.mostrarNoContinuar" ng-click="vm.editarContacto()" title="@L("afiliaciones_clienteProspecto_editarContacto")" class="glyphicon glyphicon-pencil font-size-16"></span>
                        </div>
                    </div>
                </div>

                <div ng-show="vm.mostrarNoContinuar">
                    <div class="row bow-margin-top-20" ng-show="vm.mostrarInformacionContacto">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <span>@L("afiliaciones_clienteProspecto_tituloInformacionContacto")</span>
                            </div>
                        </div>
                        <div class="row bow-margin-top-20">
                            <div class="col-md-12">
                                <div class="col-md-4 text-center">
                                    <bow-buscarnombrepersona ng-model="vm.nuevaPersonaProspecto.nombre" titulolabel="@L("afiliaciones_clienteProspecto_contactoNombre")" tituloplaceholder="@L("afiliaciones_clienteProspecto_contactoNombre")"></bow-buscarnombrepersona>
                                </div>
                                <div class="col-md-3 text-center">
                                    <bow-buscarapellidopersona ng-model="vm.nuevaPersonaProspecto.apellido1" titulolabel="@L("afiliaciones_clienteProspecto_contactoPrimerApellido")" tituloplaceholder="@L("afiliaciones_clienteProspecto_contactoPrimerApellido")"></bow-buscarapellidopersona>
                                </div>
                                <div class="col-md-3 text-center">
                                    <bow-buscarapellidopersona ng-model="vm.nuevaPersonaProspecto.apellido2" titulolabel="@L("afiliaciones_clienteProspecto_contactoSegundoApellido")" tituloplaceholder="@L("afiliaciones_clienteProspecto_contactoSegundoApellido")"></bow-buscarapellidopersona>
                                </div>
                                <div class="col-md-2 text-center">
                                    <label class="control-label" for="iptEdad">
                                        @L("afiliaciones_clienteProspecto_contactoEdad")
                                    </label>
                                    <input type="text" placeholder="@L("afiliaciones_clienteProspecto_contactoEdad")" bow-inputsolonumeros class="form-control" id="iptEdad" name="iptEdad" ng-model="vm.edadContacto" maxlength="3" />
                                </div>
                            </div>
                        </div>
                        <div class="row bow-margin-top-20">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="control-label" for="iptEmpresa">
                                        @L("afiliaciones_clienteProspecto_contactoEmpresaAfiliada")
                                    </label>
                                    <input type="text" placeholder="@L("afiliaciones_clienteProspecto_contactoEmpresa")Empresa" class="form-control" id="iptEmpresa" name="iptEmpresa" ng-model="vm.nuevoGestionProspecto.empresaAfiliada" maxlength="50" />
                                </div>
                            </div>
                        </div>

                        <div class="row bow-margin-top-20">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <button class="btn btn-info btn-block" ng-click="vm.saveInformacionContacto(true)" ng-disabled="!vm.nuevaPersonaProspecto.nombre || !vm.nuevaPersonaProspecto.apellido1">@L("afiliaciones_clienteProspecto_btnAsignarBeneficiarios")</button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-danger btn-block" ng-click="vm.saveInformacionContacto(false)">@L("afiliaciones_clienteProspecto_btnNoContinuar")</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-show="!vm.mostrarInformacionContacto">
                        <div class="row bow-margin-top-15" ng-show="!vm.mostrarPlan">
                            <div class="row col-md-12" ng-show="!vm.mostrarPlan">
                                <div class="col-md-11 text-center">
                                    <span>@L("afiliaciones_clienteProspecto_tituloBeneficiarios")</span>
                                </div>
                                <div class="col-md-1 input-group text-center">
                                    <button class="btn btn-success" ng-click="vm.agregarNuevoBeneficiario()">
                                        @L("afiliaciones_clienteProspecto_btnNuevo") &nbsp;
                                        <i class="glyphicon glyphicon-plus font-size-18"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <fieldset ng-disabled="vm.soloLecturaBeneficiarios">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form role="form" name="frmBeneficiario">
                                                <div class="col-md-5">
                                                    <bow-buscarparentesco ng-model="vm.parentescoId" ng-required="true" titulolabel="@L("afiliaciones_clienteProspecto_beneficiarioParentesco")" tituloplaceholder="@L("afiliaciones_clienteProspecto_beneficiarioParentesco")" bow-seleccionoparentesco="seleccionoParentesco(parentesco)"></bow-buscarparentesco>
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="control-label" for="iptEdadParentesco">
                                                        @L("afiliaciones_clienteProspecto_beneficiarioEdad")
                                                    </label>
                                                    <input type="text" placeholder="@L("afiliaciones_clienteProspecto_beneficiarioEdad")" bow-inputsolonumeros class="form-control" id="iptEdadParentesco" name="iptEdadParentesco" ng-model="vm.nuevoBeneficiario.edad" maxlength="3" />
                                                </div>
                                                <div class="col-md-5">
                                                    <bow-buscarlocalidad titulo="@L("afiliaciones_clienteProspecto_beneficiarioLugarResidencia")"
                                                                         mostrarindicativo="false"
                                                                         ng-model="vm.ciudadResidenciaId"
                                                                         ng-disabled="false"
                                                                         bow-seleccionolocalidad="obtenerLocalidad(localidad)">
                                                    </bow-buscarlocalidad>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-3 text-center">
                                                <bow-buscarnombrepersona ng-model="vm.nuevoBeneficiario.nombre" titulolabel="@L("afiliaciones_clienteProspecto_beneficiarioNombre")" tituloplaceholder="@L("afiliaciones_clienteProspecto_beneficiarioNombre")"></bow-buscarnombrepersona>
                                            </div>
                                            <div class="col-md-3 text-center">
                                                <bow-buscarapellidopersona ng-model="vm.nuevoBeneficiario.apellido1" titulolabel="@L("afiliaciones_clienteProspecto_beneficiarioPrimerApellido")" tituloplaceholder="@L("afiliaciones_clienteProspecto_beneficiarioPrimerApellido")"></bow-buscarapellidopersona>
                                            </div>
                                            <div class="col-md-3 text-center">
                                                <bow-buscarapellidopersona ng-model="vm.nuevoBeneficiario.apellido2" titulolabel="@L("afiliaciones_clienteProspecto_beneficiarioSegundoApellido")" tituloplaceholder="@L("afiliaciones_clienteProspecto_beneficiarioSegundoApellido")"></bow-buscarapellidopersona>
                                            </div>
                                            <div class="col-md-3 text-center">
                                                <label class="control-label" for="iptBebeNacer">@L("afiliaciones_clienteProspecto_beneficiarioBebeNacer")</label><br />
                                                <label class="btn btn-primary" ng-model="vm.nuevoBeneficiario.bebePorNacer" btn-radio="'true'">@L("afiliaciones_clienteProspecto_beneficiarioBebeNacerSi")</label>
                                                <label class="btn btn-primary" ng-model="vm.nuevoBeneficiario.bebePorNacer" btn-radio="'false'">@L("afiliaciones_clienteProspecto_beneficiarioBebeNacerNo")</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row bow-margin-top-20">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-3">
                                                <button class="btn btn-success btn-block" ng-disabled="frmBeneficiario.$invalid" ng-click="vm.saveBeneficiario()">@L("afiliaciones_clienteProspecto_btnRegistrarParentesco")</button>
                                            </div>
                                            <div class="col-md-3">
                                                <button class="btn btn-danger btn-block" ng-click="vm.cancelarNuevoBeneficiario()">@L("afiliaciones_clienteProspecto_btnCancelarParentesco")</button>
                                            </div>
                                            <div class="col-md-3">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div class="row" ng-show="!vm.mostrarPlan">
                            <div class="col-md-12 bow-margin-top-15">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center">@L("afiliaciones_clienteProspecto_tableParentesco")</th>
                                            <th class="text-center">@L("afiliaciones_clienteProspecto_tableNombreCompleto")</th>
                                            <th class="text-center">@L("afiliaciones_clienteProspecto_tableEdad")</th>
                                            <th class="text-center">@L("afiliaciones_clienteProspecto_tableCiudad")</th>
                                            <th class="text-center">@L("afiliaciones_clienteProspecto_tableEditar")</th>
                                            <th class="text-center">@L("afiliaciones_clienteProspecto_tableEliminar")</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="parentesco in vm.parentescos">
                                            <td class="text-center">
                                                {{parentesco.parentescoNombre}}
                                            </td>
                                            <td class="text-center">
                                                {{parentesco.nombre}}&nbsp;{{parentesco.apellido1}}&nbsp;{{parentesco.apellido2}}
                                            </td>
                                            <td class="text-center">
                                                {{parentesco.edad}}
                                            </td>
                                            <td class="text-center">
                                                {{parentesco.ciudadResidenciaNombre}}
                                            </td>
                                            <td class="text-center">
                                                <bow-operacion-editar-fila operacion-editar="vm.editarParentesco(parentesco.id)"
                                                                           mensaje-tooltip='@L("afiliaciones_clienteProspecto_tooltipEditar")'
                                                                           posicion-tooltip="left">
                                                </bow-operacion-editar-fila>
                                            </td>
                                            <td class="text-center">
                                                <bow-operacion-eliminar-fila mensaje-confirmacion='@L("afiliaciones_clienteProspecto_mensajeEliminar")'
                                                                             mensaje-tooltip='@L("afiliaciones_clienteProspecto_tooltipEliminar")'
                                                                             posicion-tooltip="right"
                                                                             operacion-puede-eliminar="vm.puedeEliminarParentesco(parentesco.id, funcionRetornarPuedeEliminar)"
                                                                             no-puede-eliminar="vm.noPuedeEliminar()"
                                                                             confirmacion-ok="vm.eliminarParentescoOk(parentesco.id)">
                                                </bow-operacion-eliminar-fila>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div ng-show="vm.mostrarPlan">
                            <bow-planclienteprospecto bow-beneficiosadicionales="vm.adicionales" bow-mostrarnucleoseleccionado="vm.mostrarNucleoSeleccionado" bow-grupofamiliaridseleccionado="vm.grupoFamiliarId" control-operaciones="vm.controlOperacionesPlanCliente"></bow-planclienteprospecto>
                        </div>
                        <br />
                        <div class="row bow-margin-top-25">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <button class="btn btn-info btn-block" ng-click="vm.mostrarPlan = !vm.mostrarPlan" ng-show="vm.mostrarPlan">@L("afiliaciones_clienteProspecto_btnAsignarBeneficiarios")</button>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-info btn-block" ng-disabled="!vm.grupoFamiliarId" ng-click="vm.saveAfiliacion()" ng-show="vm.mostrarPlan">@L("afiliaciones_clienteProspecto_btnDeseoAfiliarme")</button>
                                    <button class="btn btn-info btn-block" ng-click="vm.mostrarPlan = !vm.mostrarPlan" ng-show="!vm.mostrarPlan">@L("afiliaciones_clienteProspecto_btnPlanesDisponibles")</button>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-danger btn-block" ng-click="vm.mostrarNoContinuar = !vm.mostrarNoContinuar">@L("afiliaciones_clienteProspecto_btnNoContinuar")</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row bow-margin-top-20" ng-show="!vm.mostrarNoContinuar">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <span>@L("afiliaciones_clienteProspecto_tituloNoContinua")</span>
                        </div>
                    </div>
                    <div class="row bow-margin-top-20">
                        <div class="col-md-12">
                            <div class="col-md-6 ">
                                <label class="control-label" for="iptOtraFuneraria">
                                    @L("afiliaciones_clienteProspecto_motivoNoAfiliacion")
                                </label>
                                <select ng-model="vm.nuevoGestionProspecto.estadoNoAfiliacionId" required
                                        ng-options="to.id as to.motivo for to in vm.motivosNoAfiliacion" class="form-control">
                                    <option value="">
                                        @L("afiliaciones_clienteProspecto_seleccione")
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6 ">
                                <bow-buscarfuneraria ng-model="vm.selectedFuneraria" ng-required="false" titulolabel="@L("afiliaciones_clienteProspecto_otraFuneraria")" tituloplaceholder="@L("afiliaciones_clienteProspecto_otraFuneraria")" bow-seleccionofuneraria="vm.seleccionoFuneraria(funeraria)"></bow-buscarfuneraria>
                            </div>
                        </div>
                    </div>
                    <div class="row bow-margin-top-25">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label class="control-label" for="iptOtraFuneraria">
                                    @L("afiliaciones_clienteProspecto_observaciones")
                                </label>
                                <textarea type="text" placeholder="@L("afiliaciones_clienteProspecto_observaciones")" class="form-control" id="iptObservaciones" name="iptObservaciones" ng-model="vm.nuevoGestionProspecto.observaciones" maxlength="300" />
                            </div>
                            <div class="col-md-6 bow-margin-top-25 text-center">
                                <button class="btn btn-success btn-block" ng-click="vm.registrarVisita()">@L("afiliaciones_clienteProspecto_btnRegistrarVisita")</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="!vm.mostrarProspectos">
            <div class="row bow-margin-top-10">
                <div class="col-md-12" ng-repeat="gestion in vm.gestionesProspecto">
                    <div class="col-md-12">
                        <div class="col-md-6 text-left">
                            <label class=" control-label" for="iptFechaGestion">
                                {{gestion.fechaGestion | date:'medium'}}
                            </label><br />
                        </div>
                        <div class="col-md-6 text-right">
                            <button class="btn btn-success" ng-click="vm.iniciarContacto(gestion)">@L("afiliaciones_clienteProspecto_btnIniciarContacto")</button>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <bow-gestion-prospecto ng-model="gestion" bow-sucursalid="vm.nuevoGestionProspecto.sucursalId"></bow-gestion-prospecto>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br />*@