<div class="alert alert-danger text-center" ng-show="mensajeError">
    <strong>{{mensajeError}}</strong>
</div>
<form role="form" name="frmClienteProspecto">
    <div class="row">
        <div class="col-md-4">
            <bow-buscar-empleado-typeahead ng-model="empleado"
                                           ng-disabled="modoConsulta"
                                           titulolabel='@L("directiva_bowInfoAfiliacionVenta_empleado_titulo")'
                                           tituloplaceholder='@L("directiva_bowInfoAfiliacionVenta_empleado_placeholder")'
                                           control-operaciones="controlOperacionesEmpleado">
            </bow-buscar-empleado-typeahead>
        </div>
        <div class="col-md-4">
            <bow-buscarsucursal ng-model="sucursal"
                                ng-disabled="modoConsulta"
                                titulolabel='@L("directiva_bowInfoAfiliacionVenta_sucursal_titulo")'
                                tituloplaceholder='@L("directiva_bowInfoAfiliacionVenta_sucursal_placeholder")'
                                control-operaciones="controlOperacionesSucursal">
            </bow-buscarsucursal>
        </div>
        <div class="col-md-4">
            <bow-buscarlocalidad ng-model="localidad"
                                 ng-disabled="modoConsulta"
                                 titulo='@L("directiva_bowInfoAfiliacionVenta_localidad_titulo")'
                                 mostrarindicativo="true"
                                 control-operaciones="controlOperacionesLocalidad">
            </bow-buscarlocalidad>
        </div>
    </div>
</form>
