<div class="row">
    <fieldset class="bow-margin-bottom-5 bow-padding-bottom-5" ng-disabled="soloLecturaConsultar">
         <button type="button" class="mr btn btn-pill-right btn-success" ng-click="nuevoTelefono = !nuevoTelefono"> @L("personas_nuevapersona_modalNuevaPersona_btnNuevoTelefono")</button>
        <div class="col-md-12 bow-margin-top-20" ng-show="nuevoTelefono">
            <bow-nuevotelefono bow-guardotelefono="registroTelefono(telefono)"></bow-nuevotelefono>
        </div>
    </fieldset>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th colspan="2" class="bow-margin-bottom-5 bow-padding-bottom-5 text-right">
                            </th>
                            <th class="text-center" width="20%">
                                <label class="switch switch-lg" ng-class="'switch-' + app.theme.name" data-toggle="popover" data-placement="top" title="Ver teléfonos activos">
                                    <input type="checkbox" checked="checked" ng-model="estadoActivoTelefono" ng-click="mostrarFilasTelefono(estadoActivoTelefono)">
                                    <span></span>
                                </label>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="telefono in telefonosPersona " ng-show="(estadoActivoTelefono === telefonosPersona[$index].nombreEstado) || !estadoActivoTelefono">
                            <td>
                                <h4 class="media-heading" width="40%">
                                    <em class="fa fa-phone" ng-show="telefono.telefonoTipo == 'Fijo'"></em> <em class="fa fa-mobile" ng-show="telefono.telefonoTipo == 'Celular'"></em> {{telefono.telefonoNumero}}
                                </h4>
                                <span class="text-muted">
                                    {{telefono.nombreLocalidad}} <em class="fa fa-caret-right"></em> {{telefono.fechaIngreso}}
                                </span>
                            </td>
                            <td class="text-center" width="40%">
                                <select ng-model="telefono.tipoUbicacionId" ng-change="changeTipoUbicacionTelefono($index, telefono.tipoUbicacionId)" ng-disabled="soloLecturaConsultar" ng-options="to.id as to.nombre for to in tipos" class="form-control" required>
                                    <option value="">@L("personas_nuevapersona_modalNuevaPersona_seleccione")</option>
                                </select>
                            </td>
                            <td class="text-center" width="20%">
                                <label class="switch switch-lg" ng-class="'switch-' + app.theme.name" data-toggle="popover" data-placement="top" title="{{telefono.fechaCancelacion}}">
                                    <input type="checkbox" ng-checked="telefono.nombreEstado" ng-show="telefono.nombreEstado" ng-disabled="soloLecturaConsultar || !telefono.nombreEstado" ng-click="inactivarTelefono($index)">
                                    <span></span>
                                </label>
                               
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@*<div class="row">
        <fieldset ng-disabled="soloLecturaConsultar">
            <button type="button" class="mr btn btn-pill-right btn-success" ng-click="nuevoTelefono = !nuevoTelefono">@L("personas_nuevapersona_modalNuevaPersona_btnNuevoTelefono")</button>
            <div class="col-md-12 bow-margin-top-20" ng-show="nuevoTelefono">
                <bow-nuevotelefono bow-guardotelefono="registroTelefono(telefono)"></bow-nuevotelefono>
            </div>
        </fieldset>

        <div class="row">
            <div class="col-md-12 text-left">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>@L("personas_nuevapersona_modalNuevaPersona_telefonoTableTelefono")</th>
                            <th class="text-center">@L("personas_nuevapersona_modalNuevaPersona_telefonoTableLocalidad")</th>
                            <th class="text-center">@L("personas_nuevapersona_modalNuevaPersona_telefonoTableTipoUbicacion")</th>
                            <th class="text-center">@L("personas_nuevapersona_modalNuevaPersona_telefonoTableIngreso")</th>
                            <th class="text-center">@L("personas_nuevapersona_modalNuevaPersona_telefonoTableActivo")<input type="checkbox" ng-model="estadoActivoTelefono" ng-click="mostrarFilasTelefono(estadoActivoTelefono)"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="telefono in telefonosPersona " ng-show="(estadoActivoTelefono === telefonosPersona[$index].nombreEstado) || !estadoActivoTelefono">
                            <td>
                                {{telefono.telefonoNumero}}
                            </td>
                            <td class="text-center">
                                {{telefono.nombreLocalidad}}
                            </td>
                            <td class="text-center">
                                <select ng-model="telefono.tipoUbicacionId" ng-change="changeTipoUbicacionTelefono($index, telefono.tipoUbicacionId)" ng-disabled="soloLecturaConsultar" ng-options="to.id as to.nombre for to in tipos" class="form-control" required>
                                    <option value="">@L("personas_nuevapersona_modalNuevaPersona_seleccione")</option>
                                </select>
                            </td>
                            <td class="text-center">
                                {{telefono.fechaIngreso}}
                            </td>
                            <td class="text-center">
                                <label ng-show="telefono.nombreEstado" ng-click="inactivarTelefono($index)" ng-disabled="soloLecturaConsultar" class="btn btn-primary">@L("personas_nuevapersona_modalNuevaPersona_inactivar")</label>
                                <label ng-show="!telefono.nombreEstado">{{telefono.fechaCancelacion}}</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>*@