<div class="app-container" ng-controller="app.views.zonificacion.pais as vm">
    <div class="app-view-header page-header">
        @L("zonificacion_pais_titulo")
        <small>@L("zonificacion_pais_subtitulo")</small>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading" ng-class="'bg-' + app.theme.name">
                    <span ng-if="!vm.editandoPais">@L("zonificacion_pais_nuevo")</span>
                    <span ng-if ="vm.editandoPais">@L("zonificacion_pais_editar") {{vm.nombrePaisEditar | uppercase}}</span>
                </div>
                <div class="panel-body" ng-form="frmPais">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" ng-class="{'has-error' : frmPais.iptNombrePais.$dirty && frmPais.iptNombrePais.$invalid}">
                                <label class="control-label" for="iptNombrePais">@L("zonificacion_pais_modalNuevoPais_nombrePais")</label>
                                <input type="text" class="form-control" id="iptNombrePais" name="iptNombrePais" ng-model="vm.nuevoPais.nombre" required maxlength="25" />
                                <div ng-show="frmPais.iptNombrePais.$dirty && frmPais.iptNombrePais.$invalid">
                                    <small ng-show="frmPais.iptNombrePais.$error.required" class="text-danger">
                                        @L("zonificacion_pais_modalNuevoPais_nombrePaisRequerido")
                                    </small>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error' : frmPais.iptIndicativoPais.$dirty && frmPais.iptIndicativoPais.$invalid}">
                                <label class="control-label" for="iptIndicativoPais">@L("zonificacion_pais_modalNuevoPais_indicativoPais")</label>
                                <input type="text" class="form-control" id="iptIndicativoPais" name="iptIndicativoPais" ng-model="vm.nuevoPais.indicativo" required
                                       ng-pattern="/^[0-9]+$/" maxlength="4" />
                                <div ng-show="frmPais.iptIndicativoPais.$dirty && frmPais.iptIndicativoPais.$invalid">
                                    <small ng-show="frmPais.iptIndicativoPais.$error.required" class="text-danger">
                                        @L("zonificacion_pais_modalNuevoPais_indicativoPaisRequerido")
                                    </small>
                                    <small ng-show="frmPais.iptIndicativoPais.$error.pattern" class="text-danger">
                                        @L("zonificacion_pais_modalNuevoPais_indicativoPaisNumerico")
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button class="btn btn-success btn-circle btn-lg" ng-click="vm.saveOrUpdatePais()" ng-disabled="frmPais.$invalid" title='@L("zonificacion_pais_guardar")'>
                                    <em class="fa fa-save"></em>
                                </button>
                                &nbsp;
                                <button class="btn btn-warning btn-circle btn-lg" ng-click="vm.cancelarUpdatePais()" title='@L("zonificacion_pais_cancelar_editar")'>
                                    <em class="fa"  ng-class="{'fa-ban': vm.editandoPais, 'fa-eraser': !vm.editandoPais}"></em>
                                </button>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="panel panel-primary">
                <div class="panel-heading" ng-class="'bg-' + app.theme.name">
                    {{vm.paises.totalFilas}} @L("zonificacion_pais_cantidadPaises")
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr ng-repeat="pais in vm.paises.filasMostrar track by $index"
                                            ng-mouseenter="vm.controles.mostrar($index)"
                                            ng-mouseleave="vm.controles.ocultar($index)">
                                            <td>
                                                <h4 class="media-heading">
                                                    <a ui-sref="zonificacionPais({paisId : pais.id})" title='@L("zonificacion_pais_operacionDepartamentosTooltip")'>
                                                        {{pais.nombre}}
                                                    </a>
                                                </h4>
                                                <span class="text-muted">
                                                    @L("zonificacion_pais_indicativoPais") {{pais.indicativo}}
                                                </span>
                                            </td>
                                            <td>
                                                <div class="pull-right" ng-show="vm.controles.visible[$index] && !vm.editandoPais">
                                                    <button class="btn btn-success btn-circle btn-lg" ng-click="vm.editarPais(pais)" ng-hide="vm.eliminandoPais" title="@L("zonificacion_pais_operacionEditarTooltip")">
                                                        <em class="fa fa-pencil"></em>
                                                    </button>
                                                    &nbsp;
                                                    <bow-operacion-eliminar-fila mensaje-confirmacion='@L("zonificacion_pais_eliminarPais_confirmacion")'
                                                                                 mensaje-tooltip='@L("zonificacion_pais_operacionEliminarTooltip")'
                                                                                 operacion-puede-eliminar="vm.puedeEliminarPais(pais.id, funcionRetornarPuedeEliminar)"
                                                                                 no-puede-eliminar="vm.noPuedeEliminar()"
                                                                                 confirmacion-ok="vm.eliminarPaisOk(pais)"
                                                                                 confirmacion-cancel="vm.eliminarPaisCancel()">
                                                    </bow-operacion-eliminar-fila>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="text-right">
                                    <pagination ng-show="vm.paises.filasPorPagina < vm.paises.totalFilas" items-per-page="vm.paises.filasPorPagina"
                                                total-items="vm.paises.totalFilas"
                                                ng-model="vm.paises.paginaActual"
                                                ng-change="vm.paises.pageChanged()"
                                                class="pagination-sm"></pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
